<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title th:text="#{admin.lists_of_equipment.title}">?????</title>
</head>

<body th:align="center">

<!--Header-->
<h1 th:text="#{admin.lists_of_equipment.header}">?????</h1>

<a href="/admin/info-equipment/snowboard">
    <button th:text="#{admin.lists_of_equipment.snowboard}" style="width:130px">?????</button>
</a>
<a href="/admin/info-equipment/snowboard-boots">
    <button th:text="#{admin.lists_of_equipment.snowboard_boots}" style="width:170px">?????</button>
</a>
<a href="/admin/info-equipment/ski">
    <button th:text="#{admin.lists_of_equipment.ski}" style="width:130px">?????</button>
</a>
<a href="/admin/info-equipment/ski-boots">
    <button th:text="#{admin.lists_of_equipment.ski_boots}" style="width:130px">?????</button>
</a>
<a href="/admin/info-equipment/jacket">
    <button th:text="#{admin.lists_of_equipment.jacket}" style="width:130px">?????</button>
</a>

<br><br>

<a href="/admin/info-equipment/knee-protection">
    <button th:text="#{admin.lists_of_equipment.knee_protection}" style="width:130px">?????</button>
</a>
<a href="/admin/info-equipment/protective-shorts">
    <button th:text="#{admin.lists_of_equipment.protective_shorts}" style="width:170px"></button>
</a>
<a href="/admin/info-equipment/helmet">
    <button th:text="#{admin.lists_of_equipment.helmets}" style="width:130px">?????</button>
</a>
<a href="/admin/info-equipment/pants">
    <button th:text="#{admin.lists_of_equipment.pants}" style="width:130px">?????</button>
</a>
<a href="/admin/info-equipment/gloves">
    <button th:text="#{admin.lists_of_equipment.gloves}" style="width:130px">?????</button>
</a>

<br><br>

<a href="/admin">
    <button th:text="#{admin.lists_of_equipment.back_to_main}">?????</button>
</a>

</body>

</html>
