<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{clients.title}"/>
    <link rel="stylesheet" th:href="@{${#themes.code('stylesheet')}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@350&display=swap"/>
</head>

<body>

<div class="header">
    <nav class="top-nav">
        <ul class="top-nav-items">
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.account}"/>
                <div class="dropdown-content">
                    <a href="/sign-out" th:text="#{top-nav.sign-out}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.theme}"/>
                <div class="dropdown-content">
                    <a th:href="@{${action == 'showAll' ? '?' : ''} +
                                  ${action == 'search'  ? 'search?search=' + search + '&' : ''} +
                                  ${action == 'create'  ? '?' : ''} +
                                  ${action == 'update'  ? '?' : ''} +
                                                                                                       'theme=theme_1'}"
                       th:text="#{top-nav.theme.theme-1}"/>
                    <a th:href="@{${action == 'showAll' ? '?' : ''} +
                                  ${action == 'search'  ? 'search?search=' + search + '&' : ''} +
                                  ${action == 'create'  ? '?' : ''} +
                                  ${action == 'update'  ? '?' : ''} +
                                                                                                       'theme=theme_2'}"
                       th:text="#{top-nav.theme.theme-2}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.lang}"/>
                <div class="dropdown-content">
                    <a th:href="@{${action == 'showAll' ? '?' : ''} +
                                  ${action == 'search'  ? 'search?search=' + search + '&' : ''} +
                                  ${action == 'create'  ? '?' : ''} +
                                  ${action == 'update'  ? '?' : ''} +
                                                                                                 'lang=en'}">English</a>
                    <a th:href="@{${action == 'showAll' ? '?' : ''} +
                                  ${action == 'search'  ? 'search?search=' + search + '&' : ''} +
                                  ${action == 'create'  ? '?' : ''} +
                                  ${action == 'update'  ? '?' : ''} +
                                                                                                 'lang=ru'}">Русский</a>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div class="main">

    <div class="sidebar">
        <button type="button">
            <a href="/admin" th:text="#{side-bar.admin.home}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/bookings/new" th:text="#{side-bar.admin.new-booking}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/bookings-today" th:text="#{side-bar.admin.today-bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/bookings-tomorrow" th:text="#{side-bar.admin.tomorrow-bookings}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/bookings" th:text="#{side-bar.admin.list-of-bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/clients" th:text="#{side-bar.admin.list-of-clients}"/>
        </button>
        <button type="button">
            <a href="/admin/riders" th:text="#{side-bar.admin.list-of-riders}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/equipment/snowboards" th:text="#{side-bar.admin.snowboard}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/snowboard-boots" th:text="#{side-bar.admin.snowboard-boots}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/ski" th:text="#{side-bar.admin.ski}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/ski-boots" th:text="#{side-bar.admin.ski-boots}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/helmets" th:text="#{side-bar.admin.helmet}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/jackets" th:text="#{side-bar.admin.jacket}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/gloves" th:text="#{side-bar.admin.gloves}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/pants" th:text="#{side-bar.admin.pants}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/protective-shorts" th:text="#{side-bar.admin.protective-shorts}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/knee-protection" th:text="#{side-bar.admin.knee-protection}"/>
        </button>
    </div>

    <div class="main-screen">

        <div class="content">

            <div th:if="${action == 'showAll' || action == 'search'}" class="table">

                <!--Header-->
                <h1 th:if="${action == 'showAll'}" th:text="#{clients.header.show-all}"/>
                <h1 th:if="${action == 'search'}" th:text="#{clients.header.search}"/>

                <!--Search-->
                <form th:method="GET"
                      th:action="@{/admin/clients/search}">
                    <label for="input-search"></label>
                    <input id="input-search" style="width:200px"
                           type="text" th:name="search"
                           th:value="${search}" th:placeholder="#{clients.button.search.placeholder}"/>
                    <input class="button" type="submit" th:value="#{clients.button.search}"/>
                </form>

                <br>

                <!--Table-->
                <table>
                    <tr>
                        <!-- id -->
                        <th>
                            <a th:if="${action == 'search'}" th:text="#{clients.parameter.id}"/>
                            <a th:if="${action == 'showAll'}" th:text="#{clients.parameter.id}"
                               th:href="@{'/admin/clients/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"/>
                        </th>
                        <!-- name -->
                        <th>
                            <a th:if="${action == 'search'}" th:text="#{clients.parameter.name.header}"/>
                            <a th:if="${action == 'showAll'}" th:text="#{clients.parameter.name.header}"
                               th:href="@{'/admin/clients/sort?parameter=name&sortDirection=' + ${reverseSortDirection}}"/>
                        </th>
                        <!-- phone1 -->
                        <th>
                            <a th:if="${action == 'search'}" th:text="#{clients.parameter.phone1}"/>
                            <a th:if="${action == 'showAll'}" th:text="#{clients.parameter.phone1}"
                               th:href="@{'/admin/clients/sort?parameter=phone1&sortDirection=' + ${reverseSortDirection}}"/>
                        </th>
                        <!-- phone2 -->
                        <th>
                            <a th:if="${action == 'search'}" th:text="#{clients.parameter.phone2}"/>
                            <a th:if="${action == 'showAll'}" th:text="#{clients.parameter.phone2}"
                               th:href="@{'/admin/clients/sort?parameter=phone2&sortDirection=' + ${reverseSortDirection}}"/>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="oneClient : ${listOfClients}">
                        <td th:text="${oneClient.id}"/>
                        <td th:text="${oneClient.name}" th:align="left"/>
                        <td th:text="${oneClient.phone1}"/>
                        <td th:text="${oneClient.phone2}"/>
                        <td th:width="1">
                            <a th:href="@{'/admin/clients/' + ${oneClient.id}}">
                                <button class="button" th:text="#{clients.button.edit}"/>
                            </a>
                        </td>
                        <td th:width="1">
                            <form th:method="DELETE" th:action="@{'/admin/clients/' + ${oneClient.id}}">
                                <input class="button" type="submit" th:value="#{clients.button.delete}"/>
                            </form>
                        </td>
                    </tr>
                </table>

                <br>

                <!--Go to "add-new"-->
                <div th:if="${action == 'showAll'}">
                    <a href="/admin/clients/new">
                        <button class="button" th:text="#{clients.button.add-client}"/>
                    </a>
                </div>

                <!--Return to "show-all"-->
                <div th:if="${action == 'search'}">
                    <a href="/admin/clients">
                        <button class="button" th:text="#{clients.button.return}"/>
                    </a>
                </div>

            </div>

            <div th:if="${action == 'create' || action == 'update'}" class="new-edit">

                <!--Header-->
                <h1 th:if="${action == 'create'}" th:text="#{clients.header.add-new}"/>
                <h1 th:if="${action == 'update'}" th:text="#{clients.header.edit}"/>

                <!--Input parameters-->
                <form th:method="${action == 'create'} ? POST :
                                (${action == 'update'} ? PATCH : '')"
                      th:action="@{'/admin/clients' + ${action == 'create' ? '' : ''}
                                                    + ${action == 'update' ? '/' + clientId : ''}}"
                      th:object="${client}">
                    <table>
                        <!-- name -->
                        <tr>
                            <td th:text="#{clients.parameter.name} + ': '"/>
                            <td>
                                <label for="input-name"></label>
                                <input id="input-name" type="text"
                                       th:field="*{name}" th:placeholder="#{clients.parameter.name}"/>
                                <div class="validation-message"
                                     th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                                </div>
                            </td>
                        </tr>
                        <!-- phone1 -->
                        <tr>
                            <td th:text="#{clients.parameter.phone1} + ': '"/>
                            <td>
                                <label for="input-phone1"></label>
                                <input id="input-phone1" type="text"
                                       th:field="*{phone1}" placeholder="X(XXX)XXX-XX-XX"/>
                                <div class="validation-message"
                                     th:if="${#fields.hasErrors('phone1')}" th:errors="*{phone1}">
                                </div>
                            </td>
                        </tr>
                        <!-- phone2 -->
                        <tr>
                            <td th:text="#{clients.parameter.phone2} + ': '"/>
                            <td>
                                <label for="input-phone2"></label>
                                <input id="input-phone2" type="text"
                                       th:field="*{phone2}" placeholder="X(XXX)XXX-XX-XX"/>
                            </td>
                        </tr>
                    </table>

                    <br>

                    <!-- Button "Add new" or "Edit" -->
                    <div>
                        <input th:if="${action == 'create'}"
                               class="button" type="submit" th:value="#{clients.button.add-client}"/>
                        <input th:if="${action == 'update'}"
                               class="button" type="submit" th:value="#{clients.button.save}"/>
                    </div>

                    <br>
                </form>

                <!--Return to "show-all"-->
                <a href="/admin/clients">
                    <button class="button" th:text="#{clients.button.return}"/>
                </a>

            </div>

        </div>

    </div>

</div>

</body>

</html>