<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{client.show-all.title}"/>
    <link rel="stylesheet" th:href="@{${#themes.code('afterAuthentication')}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@350&display=swap"/>
</head>

<body>

<div class="header">
    <nav class="top-nav">
        <ul class="top-nav-items">
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.account}"/>
                <div class="dropdown-content">
                    <a href="/sign-out" th:text="#{top-nav.sign-out}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.theme}"/>
                <div class="dropdown-content">
                    <a href="/admin/info-clients?theme=theme_1" th:text="#{top-nav.theme.theme-1}"/>
                    <a href="/admin/info-clients?theme=theme_2" th:text="#{top-nav.theme.theme-2}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.lang}"/>
                <div class="dropdown-content">
                    <a href="/admin/info-clients?lang=en">English</a>
                    <a href="/admin/info-clients?lang=ru">Russian</a>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div class="main">

    <div class="sidebar">
        <button type="button">
            <a href="/admin" th:text="#{side-bar.admin.home}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-booking/add-new" th:text="#{side-bar.admin.new-booking}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/show-today" th:text="#{side-bar.admin.today-bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/show-tomorrow" th:text="#{side-bar.admin.tomorrow-bookings}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-booking" th:text="#{side-bar.admin.list-of-bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/info-clients" th:text="#{side-bar.admin.list-of-clients}"/>
        </button>
        <button type="button">
            <a href="/admin/info-riders" th:text="#{side-bar.admin.list-of-riders}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-equipment/snowboard" th:text="#{side-bar.admin.snowboard}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/snowboard-boots" th:text="#{side-bar.admin.snowboard-boots}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/ski" th:text="#{side-bar.admin.ski}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/ski-boots" th:text="#{side-bar.admin.ski-boots}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/helmet" th:text="#{side-bar.admin.helmet}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/jacket" th:text="#{side-bar.admin.jacket}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/gloves" th:text="#{side-bar.admin.gloves}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/pants" th:text="#{side-bar.admin.pants}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/protective-shorts" th:text="#{side-bar.admin.protective-shorts}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/knee-protection" th:text="#{side-bar.admin.knee-protection}"/>
        </button>
    </div>

    <div class="main-screen">

        <div class="content">
            <div class="table">
                <!--Header-->
                <h1 th:text="#{client.show-all.header}"/>

                <!--Search-->
                <form th:method="GET"
                      th:action="@{/admin/info-clients/search}">
                    <label for="input-search"></label>
                    <input id="input-search" th:type="text" th:name="search"
                           th:placeholder="#{equipment.search.placeholder}" style="width:200px"/><!-- TODO: put WIDTH in CSS -->
                    <input class="button" type="submit" th:value="#{equipment.search.button}"/>
                </form>

                <br>

                <!--Table-->
                <table>
                    <tr>
                        <th>
                            <a th:href="@{'/admin/info-clients/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"
                               th:text="#{client.show-all.table.header.id}"/>
                        </th>
                        <th>
                            <a th:href="@{'/admin/info-clients/sort?parameter=name&sortDirection=' + ${reverseSortDirection}}"
                               th:text="#{client.show-all.table.header.name}"/>
                        </th>
                        <th>
                            <a th:href="@{'/admin/info-clients/sort?parameter=phone1&sortDirection=' + ${reverseSortDirection}}"
                               th:text="#{client.show-all.table.header.phone1}"/>
                        </th>
                        <th>
                            <a th:href="@{'/admin/info-clients/sort?parameter=phone2&sortDirection=' + ${reverseSortDirection}}"
                               th:text="#{client.show-all.table.header.phone2}"/>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="oneClient : ${allClients}">
                        <td th:text="${oneClient.id}"/>
                        <td th:text="${oneClient.name}" th:align="left"/>
                        <td th:text="${oneClient.phone1}"/>
                        <td th:text="${oneClient.phone2}"/>
                        <td th:width="1">
                            <a th:href="@{/admin/info-clients/edit/{id}(id=${oneClient.id})}">
                                <button class="button" th:text="#{client.show-all.table.button.edit}"/>
                            </a>
                        </td>
                        <td th:width="1">
                            <form th:method="DELETE" th:action="@{/admin/info-clients/{id}(id=${oneClient.id})}">
                                <input class="button" type="submit" th:value="#{client.show-all.table.button.delete}"/>
                            </form>
                        </td>
                    </tr>
                </table>

                <br>

                <!--Add new-->
                <a href="/admin/info-clients/add-new">
                    <button class="button" th:text="#{client.show-all.button.add-new}"/>
                </a>
            </div>
        </div>

    </div>

</div>

</body>

</html>