<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{booking.add_new.title}"/>
    <link rel="stylesheet" th:href="@{${#themes.code('afterAuthentication')}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@350&display=swap"/>
</head>

<body>

<div class="header">
    <nav class="top-nav">
        <ul class="top-nav-items">
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.account}"/>
                <div class="dropdown-content">
                    <a href="/client/settings" th:text="#{top_nav.settings}"/>
                    <a href="/sign-out" th:text="#{top_nav.sign_out}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.theme}"/>
                <div class="dropdown-content">
                    <a href="/client/info-booking/add-new?theme=theme_1" th:text="#{top_nav.theme.theme_1}"/>
                    <a href="/client/info-booking/add-new?theme=theme_2" th:text="#{top_nav.theme.theme_2}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.lang}"/>
                <div class="dropdown-content">
                    <a href="/client/info-booking/add-new?lang=en">English</a>
                    <a href="/client/info-booking/add-new?lang=ru">Russian</a>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div class="main">

    <div class="sidebar">

        <button type="button">
            <a href="/client" th:text="#{side_bar.client.home}"/>
        </button>
        <br>
        <button type="button">
            <a href="/client/info-booking/add-new" th:text="#{side_bar.client.new_booking}"/>
        </button>
        <br>
        <button type="button">
            <a href="/client/history" th:text="#{side_bar.client.history}"/>
        </button>
        <br>
        <button type="button">
            <a href="/client/info-riders" th:text="#{side_bar.client.riders}"/>
        </button>
    </div>

    <div class="main-screen">

        <div class="content">
            <div class="new-edit">
                <!--Header-->
                <h1 th:text="#{booking.add_new.header}"/>

                <!--Input parameters-->
                <form th:method="POST"
                      th:action="@{/client/info-booking}"
                      th:object="${newBooking}">
                    <table>
                        <tr>
                            <td th:text="#{booking.add_new.field.client} + ': '"/>
                            <td>
                                <label for="input-surname"></label>
                                <input id="input-surname" type="text"
                                       th:field="*{client.surname}"
                                       th:placeholder="#{booking.add_new.field.client.placeholder}"/>
                                <div class="validation-message"
                                     th:if="${#fields.hasErrors('client.surname')}" th:errors="*{client.surname}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{booking.add_new.field.phone1} + ': '"/>
                            <td>
                                <label for="input-phone1"></label>
                                <input id="input-phone1"
                                       type="text" th:field="*{client.phone1}" placeholder="X(XXX)XXX-XX-XX"/>
                                <div class="validation-message"
                                     th:if="${#fields.hasErrors('client.phone1')}" th:errors="*{client.phone1}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{booking.add_new.field.phone2} + ': '"/>
                            <td>
                                <label for="input-phone2"></label>
                                <input id="input-phone2"
                                       type="text" th:field="*{client.phone2}" placeholder="X(XXX)XXX-XX-XX"/>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{booking.add_new.field.date_of_arrival} + ': '"/>
                            <td>
                                <label for="input-doa"></label>
                                <input id="input-doa" type="datetime-local" th:field="*{dateOfArrival}"/>
                                <div class="validation-message"
                                     th:if="${#fields.hasErrors('dateOfArrival')}" th:errors="*{dateOfArrival}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{booking.add_new.field.date_of_return} + ': '"/>
                            <td>
                                <label for="input-dor"></label>
                                <input id="input-dor" type="datetime-local" th:field="*{dateOfReturn}"/>
                                <div class="validation-message"
                                     th:if="${#fields.hasErrors('dateOfReturn')}" th:errors="*{dateOfReturn}">
                                </div>
                            </td>
                        </tr>
                    </table>

                    <br>

                    <input class="button" type="submit" th:value="#{booking.add_new.button.create}"/>
                </form>

                <br>

                <!--Return to "client/info-booking"-->
                <a href="/client">
                    <button class="button" th:text="#{equipment.button.return}"/>
                </a>
            </div>
        </div>

        <div class="footer">
            <div class="text-block">
                <div class="center" th:text="#{top_nav.contact_us}"/>
            </div>
        </div>

    </div>

</div>

</body>

</html>