<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{booking.edit.title}"/>
    <link rel="stylesheet" th:href="@{${#themes.code('afterAuthentication')}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@350&display=swap"/>
</head>

<body>

<div class="header">
    <nav class="top-nav">
        <ul class="top-nav-items">
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.account}"/>
                <div class="dropdown-content">
                    <a href="/client/settings" th:text="#{top_nav.settings}"/>
                    <a href="/sign-out" th:text="#{top_nav.sign_out}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.theme}"/>
                <div class="dropdown-content">
                    <a th:href="'/client/info-booking/edit/' + ${id} + '?theme=theme_1'"
                       th:text="#{top_nav.theme.theme_1}"/>
                    <a th:href="'/client/info-booking/edit/' + ${id} + '?theme=theme_2'"
                       th:text="#{top_nav.theme.theme_2}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.lang}"/>
                <div class="dropdown-content">
                    <a th:href="'/client/info-booking/edit/' + ${id} + '?lang=en'">English</a>
                    <a th:href="'/client/info-booking/edit/' + ${id} + '?lang=ru'">Russian</a>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div class="main">

    <div class="sidebar">

        <button type="button">
            <a href="/client" th:text="#{side_bar.client.home}"/>
        </button>
        <br>
        <button type="button">
            <a href="/client/info-booking/add-new" th:text="#{side_bar.client.new_booking}"/>
        </button>
        <br>
        <button type="button">
            <a href="/client/history" th:text="#{side_bar.client.history}"/>
        </button>
        <br>
        <button type="button">
            <a href="/client/info-riders" th:text="#{side_bar.client.riders}"/>
        </button>
    </div>

    <div class="main-screen">

        <div class="content">
            <div class="booking-edit">

                <!--Edit Booking-->
                <div class="booking-edit-booking">
                    <h1 th:text="#{booking.edit.header}"/>

                    <form th:method="PATCH"
                          th:action="@{/client/info-booking/edit/{id}(id=${id})}"
                          th:object="${bookingToBeUpdated}">
                        <table>
                            <tr>
                                <td th:text="#{booking.edit.field.id} + ': '"/>
                                <td th:text="${id}"/>
                            </tr>
                            <tr>
                                <td th:text="#{booking.edit.field.client} + ': '"/>
                                <td>
                                    <label for="input-name"></label>
                                    <input id="input-name" type="text" th:field="*{client.name}"
                                           th:placeholder="#{booking.edit.field.client.placeholder}"/>
                                    <div class="validation-message"
                                         th:if="${#fields.hasErrors('client.name')}" th:errors="*{client.name}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td th:text="#{booking.edit.field.phone1} + ': '"/>
                                <td>
                                    <label for="input-phone1"></label>
                                    <input id="input-phone1"
                                           type="text" th:field="*{client.phone1}" placeholder="X(XXX)XXX-XX-XX"/>
                                    <div class="validation-message"
                                         th:if="${#fields.hasErrors('client.phone1')}" th:errors="*{client.phone1}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td th:text="#{booking.edit.field.phone2} + ': '"/>
                                <td>
                                    <label for="input-phone2"></label>
                                    <input id="input-phone2"
                                           type="text" th:field="*{client.phone2}" placeholder="X(XXX)XXX-XX-XX"/>
                                </td>
                            </tr>
                            <tr>
                                <td th:text="#{booking.edit.field.date_of_arrival} + ': '"/>
                                <td>
                                    <label for="input-doa"></label>
                                    <input id="input-doa" type="datetime-local" th:field="*{dateOfArrival}"/>
                                    <div class="validation-message"
                                         th:if="${#fields.hasErrors('dateOfArrival')}" th:errors="*{dateOfArrival}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td th:text="#{booking.edit.field.date_of_return} + ': '"/>
                                <td>
                                    <label for="input-dor"></label>
                                    <input id="input-dor" type="datetime-local" th:field="*{dateOfReturn}"/>
                                    <div class="validation-message"
                                         th:if="${#fields.hasErrors('dateOfReturn')}" th:errors="*{dateOfReturn}">
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <br/>

                        <input class="button" type="submit" th:value="#{booking.edit.button.save}"/>
                    </form>
                </div>

                <br>

                <!--Edit list of riders-->
                <div class="booking-edit-rider">
                    <div th:if="${bookingToBeUpdated.listOfRiders.size > 0}">
                        <table>
                            <tr th:each="oneRider : ${bookingToBeUpdated.listOfRiders}">
                                <td th:text="${oneRider.id}" style="vertical-align:top"/>
                                <td style="vertical-align:top" th:align="left">
                                    <div th:text="#{booking.edit.table.header.name} + ': ' + ${oneRider.name}"/>
                                    <div th:text="#{booking.edit.table.header.sex} + ': ' + #{${'rider.sex.' + oneRider.sex}}"/>
                                    <div th:text="#{booking.edit.table.header.height} + ': ' + ${oneRider.height}"/>
                                    <div th:text="#{booking.edit.table.header.weight} + ': ' + ${oneRider.weight}"/>
                                    <div th:text="#{booking.edit.table.header.foot} + ': ' + #{${'rider.size.' + oneRider.footSize}}"/>
                                </td>
                                <td th:align="left">
                                    <div th:each="oneEquipmentId : ${oneRider.equipmentNeededIds}">
                                        <div th:text="#{'equipment.type.' + ${oneEquipmentId.name}}"/>
                                    </div>
                                </td>
                                <td th:width="10">
                                    <a th:href="'/client/info-riders/edit?id=' + ${oneRider.id} + '&bookingId=' + ${bookingToBeUpdated.id}">
                                        <button class="button" th:text="#{booking.edit.table.button.edit}"/>
                                    </a>
                                </td>
                                <td th:width="10">
                                    <a th:href="@{'/client/info-booking/edit/remove?bid=' + ${bookingToBeUpdated.id} + '&rid=' + ${oneRider.id}}">
                                        <button class="button" th:text="#{booking.edit.table.button.remove}"/>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div th:if="${bookingToBeUpdated.listOfRiders.size <= 0}"
                         th:text="#{booking.edit.table.empty}">
                    </div>
                </div>

                <br>

                <!--Add existing Rider to Booking-->
                <div>
                    <form th:method="PATCH"
                          th:action="@{/client/info-booking/edit/add-existing-rider/{id}(id=${bookingToBeUpdated.id})}"
                          th:object="${existingRiderToBeAddedId}">
                        <label for="select-rider-id"></label>
                        <select id="select-rider-id" name="existingRiderToBeAddedId">
                            <option th:each="oneRider : ${allRidersForClient}"
                                    th:value="${oneRider.id}"
                                    th:text="${oneRider.name}">
                            </option>
                        </select>
                        <input class="button" type="submit" th:value="#{booking.edit.button.add_existing}"/>
                    </form>
                </div>

                <br>

                <!--Add new rider-->
                <div>
                    <a th:href="@{'/client/info-riders/add-new?id=' + ${bookingToBeUpdated.id}}">
                        <button class="button" th:text="#{booking.edit.button.add_new}"/>
                    </a>
                </div>

                <br>

                <!--Return to "/client"-->
                <a href="/client">
                    <button class="button" th:text="#{booking.edit.button.return}"/>
                </a>
            </div>
        </div>

        <div class="footer">
            <div class="text-block">
                <div class="center" th:text="#{top_nav.contact_us}"/>
            </div>
        </div>

    </div>

</div>

</body>

</html>