<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{gloves.title}">?????</title>
    <link rel="stylesheet" href="/css/styles1.css">
</head>

<body>

<div class="header">
    <div>
        <a href="/admin?lang=ru"><img src="/images/language/flag_ru.png" width="40" height="40"/></a>
        <a href="/admin?lang=en"><img src="/images/language/flag_en.png" width="40" height="40"/></a>
    </div>
</div>

<div class="main">

    <div class="sidebar">
        <button type="button">
            <a href="/admin" th:text="#{admin.main_page}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-booking/add-new" th:text="#{admin.main_page.new_booking}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/show-today" th:text="#{admin.main_page.today_bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/show-tomorrow" th:text="#{admin.main_page.tomorrow_bookings}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-booking" th:text="#{admin.main_page.list_of_bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/info-clients" th:text="#{admin.main_page.list_of_clients}"/>
        </button>
        <button type="button">
            <a href="/admin/info-riders" th:text="#{admin.main_page.list_of_riders}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-equipment/snowboard" th:text="#{admin.main_page.snowboard}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/snowboard-boots" th:text="#{admin.main_page.snowboard_boots}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/ski" th:text="#{admin.main_page.ski}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/ski-boots" th:text="#{admin.main_page.ski_boots}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/helmet" th:text="#{admin.main_page.helmet}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/jacket" th:text="#{admin.main_page.jacket}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/gloves" th:text="#{admin.main_page.gloves}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/pants" th:text="#{admin.main_page.pants}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/protective-shorts" th:text="#{admin.main_page.protective_shorts}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/knee-protection" th:text="#{admin.main_page.knee_protection}"/>
        </button>
    </div>

    <div class="content">
        <div class="table">
            <!--Header-->
            <h1 th:text="#{gloves.header.search}">?????</h1>

            <!--Table-->
            <table>
                <tr>
                    <th th:text="#{gloves.parameter.id}">?????</th>
                    <th th:text="#{gloves.parameter.name}">?????</th>
                    <th th:text="#{gloves.parameter.condition}">?????</th>
                    <th th:text="#{gloves.parameter.size}">?????</th>
                    <th></th><th></th>
                </tr>
                <tr th:each="oneGloves : ${glovesBySearch}">
                    <td th:text="${oneGloves.getId()}">?????</td>
                    <td th:text="${oneGloves.getName()}" th:align="left">?????</td>
                    <td th:text="#{${'equipment_condition.' + oneGloves.getCondition()}}">?????</td>
                    <td th:text="${oneGloves.getSize()}">?????</td>
                    <td th:width="85">
                        <a th:href="@{/admin/info-equipment/gloves/edit/{id}(id=${oneGloves.getId()})}">
                            <button th:text="#{equipment.button.edit}">?????</button>
                        </a>
                    </td>
                    <td th:width="75">
                        <form th:method="DELETE"
                              th:action="@{/admin/info-equipment/gloves/{id}(id=${oneGloves.getId()})}">
                            <input type="submit" th:value="#{equipment.button.delete}">
                        </form>
                    </td>
                </tr>
            </table>

            <br>

            <!--Return to "gloves/show_all"-->
            <a href="/admin/info-equipment/gloves/">
                <button th:text="#{equipment.button.return}">?????</button>
            </a>
        </div>
    </div>

</div>

<div class="footer"></div>

</body>

</html>