<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{client.settings.title}"/>
    <link rel="stylesheet" th:href="@{${#themes.code('stylesheet')}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@350&display=swap"/>
</head>

<body>

<div class="header">
    <nav class="top-nav">
        <ul class="top-nav-items">
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.account}"/>
                <div class="dropdown-content">
                    <a href="/client/settings" th:text="#{top-nav.settings}"/>
                    <a href="/sign-out" th:text="#{top-nav.sign-out}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.theme}"/>
                <div class="dropdown-content">
                    <a href="?theme=theme_1" th:text="#{top-nav.theme.theme-1}"/>
                    <a href="?theme=theme_2" th:text="#{top-nav.theme.theme-2}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.lang}"/>
                <div class="dropdown-content">
                    <a href="?lang=en">English</a>
                    <a href="?lang=ru">Russian</a>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div class="main">

    <div class="sidebar">
        <button type="button"><a href="/client" th:text="#{side-bar.client.home}"/></button>
        <br>
        <button type="button"><a href="/client/bookings/new" th:text="#{side-bar.client.new-booking}"/></button>
        <br>
        <button type="button"><a href="/client/bookings" th:text="#{side-bar.client.history}"/></button>
        <br>
        <button type="button"><a href="/client/riders" th:text="#{side-bar.client.riders}"/></button>
    </div>

    <div class="main-screen">

        <div class="content">

            <div class="new-edit">
                <!--Update name, surname, phone, email-->
                <h1 th:text="#{client.settings.info.header}"/>
                <form th:method="PATCH"
                      th:action="@{/client/settings/personal-info}"
                      th:object="${registrationRequest}">
                    <table>
                        <tr>
                            <td th:text="#{client.settings.info.name} + ': '"/>
                            <td>
                                <label for="input-name"></label>
                                <input id="input-name" name="name" type="text" style="width: 300px"
                                       th:placeholder="#{client.settings.info.name}"
                                       th:value="${applicationUserToBeUpdated.client.name}"/>
                                <div class="validation-message"
                                     th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{client.settings.info.phone1} + ': '"/>
                            <td>
                                <label for="input-phone1"></label>
                                <input id="input-phone1" name="phone1" type="text" style="width: 300px"
                                       placeholder="X(XXX)XXX-XX-XX"
                                       th:value="${applicationUserToBeUpdated.client.phone1}"/>
                                <div class="validation-message"
                                     th:if="${#fields.hasErrors('phone1')}" th:errors="*{phone1}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{client.settings.info.email} + ': '"/>
                            <td>
                                <label for="input-email"></label>
                                <input id="input-email" name="email" type="text" style="width: 300px"
                                       th:placeholder="#{client.settings.info.email}"
                                       th:field="${applicationUserToBeUpdated.email}"/>
                                <div class="validation-message"
                                     th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input name="password" type="hidden" value="Password1"/>
                                <!--Temp value, just for passing validation-->
                            </td>
                        </tr>
                    </table>

                    <br>

                    <input class="button" type="submit" th:value="#{equipment.button.save}"/>
                </form>

                <br><br>

                <!--Update password-->
                <h1 th:text="#{client.settings.password.header}"/>
                <form th:method="PATCH"
                      th:action="@{/client/settings/password}"
                      th:object="${registrationRequest}">
                    <table>
                        <tr>
                            <td>
                                <input name="name" type="hidden"
                                       th:value="${applicationUserToBeUpdated.client.name}"/>
                                <input name="phone1" type="hidden"
                                       th:value="${applicationUserToBeUpdated.client.phone1}"/>
                                <input name="email" type="hidden"
                                       th:value="${applicationUserToBeUpdated.email}"/>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{client.settings.info.password} + ': '"/>
                            <td>
                                <label for="input-password"></label>
                                <input id="input-password" style="width:250px" type="password"
                                       th:placeholder="#{client.settings.info.password}"
                                       th:field="${applicationUserToBeUpdated.password}"/>
                                <div class="validation-message" th:if="${#fields.hasErrors()}" th:errors="*{password}">
                                </div>
                            </td>
                        </tr>
                    </table>

                    <br>

                    <input class="button" type="submit" th:value="#{equipment.button.save}"/>
                </form>

            </div>

        </div>

        <div class="footer">
            <div class="text-block">
                <div class="center" th:text="#{top-nav.contact-us}"/>
            </div>
        </div>

    </div>

</div>

</body>

</html>