<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{admin.bookings_by_date.title} + ' | ' + ${#dates.format(date, 'dd MMM yyyy')}">?????</title>
    <link rel="stylesheet" th:href="@{${#themes.code('styleSheet')}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@350&display=swap">
</head>

<body>

<div class="header">
    <nav class="top-nav">
        <ul class="top-nav-items">
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.account}"></div>
                <div class="dropdown-content">
                    <a href="#" th:text="#{top_nav.settings}"></a>
                    <a href="/sign-out" th:text="#{top_nav.sign_out}"></a>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.theme}"></div>
                <div class="dropdown-content">
                    <a th:href="'/admin/show-' + ${day} + '?theme=theme_1'" th:text="#{top_nav.theme.theme_1}"></a>
                    <a th:href="'/admin/show-' + ${day} + '?theme=theme_2'" th:text="#{top_nav.theme.theme_2}"></a>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.lang}"></div>
                <div class="dropdown-content">
                    <a th:href="'/admin/show-' + ${day} + '?lang=en'">English</a>
                    <a th:href="'/admin/show-' + ${day} + '?lang=ru'">Русский</a>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div class="main">

    <div class="sidebar">
        <button type="button">
            <a href="/admin" th:text="#{side_bar.admin.home}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-booking/add-new" th:text="#{side_bar.admin.new_booking}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/show-today" th:text="#{side_bar.admin.today_bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/show-tomorrow" th:text="#{side_bar.admin.tomorrow_bookings}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-booking" th:text="#{side_bar.admin.list_of_bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/info-clients" th:text="#{side_bar.admin.list_of_clients}"/>
        </button>
        <button type="button">
            <a href="/admin/info-riders" th:text="#{side_bar.admin.list_of_riders}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-equipment/snowboard" th:text="#{side_bar.admin.snowboard}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/snowboard-boots" th:text="#{side_bar.admin.snowboard_boots}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/ski" th:text="#{side_bar.admin.ski}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/ski-boots" th:text="#{side_bar.admin.ski_boots}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/helmet" th:text="#{side_bar.admin.helmet}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/jacket" th:text="#{side_bar.admin.jacket}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/gloves" th:text="#{side_bar.admin.gloves}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/pants" th:text="#{side_bar.admin.pants}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/protective-shorts" th:text="#{side_bar.admin.protective_shorts}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/knee-protection" th:text="#{side_bar.admin.knee_protection}"/>
        </button>
    </div>

    <div class="content">
        <div class="table">
            <!--Header-->
            <h1 th:text="#{admin.bookings_by_date.header} + ' ' + ${#dates.format(date, 'dd MMM yyyy')}">?????</h1>

            <!--Table-->
            <table>
                <tr>
                    <th><a th:text="#{booking.search.table.header.id}">?????</a></th>
                    <th><a th:text="#{booking.search.table.header.client}">?????</a></th>
                    <th><a th:text="#{booking.search.table.header.phone1}">?????</a></th>
                    <th><a th:text="#{booking.search.table.header.phone2}">?????</a></th>
                    <th><a th:text="#{booking.search.table.header.date_of_arrival}">?????</a></th>
                    <th><a th:text="#{booking.search.table.header.date_of_return}">?????</a></th>
                    <th><a th:text="#{booking.show_all.table.header.number_of_riders}">?????</a></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="oneBooking : ${bookingsForTheDate}">
                    <td th:text="${oneBooking.getId()}">?????</td>
                    <td th:text="${oneBooking.getClient().getSurname()}" th:align="left">?????</td>
                    <td th:text="${oneBooking.getClient().getPhone1()}">?????</td>
                    <td th:text="${oneBooking.getClient().getPhone2()}">?????</td>
                    <td th:text="${#dates.format(oneBooking.getDateOfArrival(), 'dd MMM yyyy HH:mm')}"></td>
                    <td th:text="${#dates.format(oneBooking.getDateOfReturn(), 'dd MMM yyyy HH:mm')}"></td>
                    <td th:text="${oneBooking.getListOfRiders().size()}">?????</td>
                    <td th:width="1">
                        <form th:method="GET"
                              th:action="@{/admin/info-booking/edit/{id}(id=${oneBooking.getId()})}">
                            <input class="button" type="submit" th:value="#{booking.search.table.button.edit}">
                        </form>
                    </td>
                    <td th:width="1">
                        <form th:method="DELETE"
                              th:action="@{/admin/info-booking/{id}(id=${oneBooking.getId()})}">
                            <input class="button" type="submit" th:value="#{booking.search.table.button.delete}">
                        </form>
                    </td>
                </tr>
            </table>

            <br>

            <!--Return button-->
            <a href="/admin">
                <button class="button" th:text="#{booking.search.button.return}">?????</button>
            </a>
        </div>
    </div>

</div>

</body>

</html>