<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{admin.bookings-by-date.title} + ' | ' + ${#dates.format(date, 'dd MMM yyyy')}"/>
    <link rel="stylesheet" th:href="@{${#themes.code('stylesheet')}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@350&display=swap"/>
</head>

<body>

<div class="header">
    <nav class="top-nav">
        <ul class="top-nav-items">
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.account}"/>
                <div class="dropdown-content">
                    <a href="/sign-out" th:text="#{top-nav.sign-out}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.theme}"/>
                <div class="dropdown-content">
                    <a th:href="'?theme=theme_1'" th:text="#{top-nav.theme.theme-1}"/>
                    <a th:href="'?theme=theme_2'" th:text="#{top-nav.theme.theme-2}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.lang}"/>
                <div class="dropdown-content">
                    <a th:href="'?lang=en'">English</a>
                    <a th:href="'?lang=ru'">Русский</a>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div class="main">

    <div class="sidebar">
        <button type="button">
            <a href="/admin" th:text="#{side-bar.admin.home}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/bookings/new" th:text="#{side-bar.admin.new-booking}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/bookings-today" th:text="#{side-bar.admin.today-bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/bookings-tomorrow" th:text="#{side-bar.admin.tomorrow-bookings}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/bookings" th:text="#{side-bar.admin.list-of-bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/clients" th:text="#{side-bar.admin.list-of-clients}"/>
        </button>
        <button type="button">
            <a href="/admin/riders" th:text="#{side-bar.admin.list-of-riders}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/equipment/snowboards" th:text="#{side-bar.admin.snowboard}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/snowboard-boots" th:text="#{side-bar.admin.snowboard-boots}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/ski" th:text="#{side-bar.admin.ski}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/ski-boots" th:text="#{side-bar.admin.ski-boots}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/helmets" th:text="#{side-bar.admin.helmet}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/jackets" th:text="#{side-bar.admin.jacket}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/gloves" th:text="#{side-bar.admin.gloves}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/pants" th:text="#{side-bar.admin.pants}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/protective-shorts" th:text="#{side-bar.admin.protective-shorts}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/knee-protection" th:text="#{side-bar.admin.knee-protection}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/equipment/broken" th:text="#{side-bar.admin.broken}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/in-service" th:text="#{side-bar.admin.in-service}"/>
        </button>
    </div>

    <div class="main-screen">

        <div class="content">

            <!--Table for Bookings by date-->
            <div class="table">

                <!--Header-->
                <h1 th:text="#{admin.bookings-by-date.header} + ' ' + ${#dates.format(date, 'dd MMM yyyy')}"/>

                <!--Table-->
                <table>
                    <tr>
                        <th><a th:text="#{bookings.parameter.id}"/></th>
                        <th><a th:text="#{bookings.parameter.client}"/></th>
                        <th><a th:text="#{bookings.parameter.phone1}"/></th>
                        <th><a th:text="#{bookings.parameter.phone2}"/></th>
                        <th><a th:text="#{bookings.parameter.date-of-arrival}"/></th>
                        <th><a th:text="#{bookings.parameter.date-of-return}"/></th>
                        <th><a th:text="#{bookings.parameter.number-of-riders}"/></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="oneBooking : ${bookingsForTheDate}">
                        <td th:text="${oneBooking.id}" th:width="50"/>
                        <td th:text="${oneBooking.client.name}" th:align="left"/>
                        <td th:text="${oneBooking.client.phone1}"/>
                        <td th:text="${oneBooking.client.phone2}"/>
                        <td th:text="${#dates.format(oneBooking.dateOfArrival, 'dd MMM yyyy HH:mm')}"/>
                        <td th:text="${#dates.format(oneBooking.dateOfReturn, 'dd MMM yyyy HH:mm')}"/>
                        <td th:text="${oneBooking.listOfBookingRiderEquipmentLinks.size}"/>
                        <td th:width="1">
                            <form th:method="GET"
                                  th:action="@{'/admin/bookings/' + ${oneBooking.id}}">
                                <input class="button" type="submit" th:value="#{bookings.button.edit-booking}"/>
                            </form>
                        </td>
                        <td th:width="1">
                            <form th:method="DELETE"
                                  th:action="@{'/admin/bookings/' + ${oneBooking.id}}">
                                <input class="button" type="submit" th:value="#{bookings.button.delete}"/>
                            </form>
                        </td>
                    </tr>
                </table>

                <br>

                <!--Return button-->
                <a href="/admin">
                    <button class="button" th:text="#{bookings.button.return}"/>
                </a>

            </div>

        </div>

    </div>

</div>

</body>

</html>