<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{admin.main_page.title}"/>
    <link rel="stylesheet" th:href="@{${#themes.code('afterAuthentication')}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@350&display=swap"/>
</head>

<body>

<div class="header">
    <nav class="top-nav">
        <ul class="top-nav-items">
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.account}"/>
                <div class="dropdown-content">
                    <a href="/sign-out" th:text="#{top_nav.sign_out}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.theme}"/>
                <div class="dropdown-content">
                    <a href="/admin?theme=theme_1" th:text="#{top_nav.theme.theme_1}"/>
                    <a href="/admin?theme=theme_2" th:text="#{top_nav.theme.theme_2}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.lang}"/>
                <div class="dropdown-content">
                    <a href="/admin?lang=en">English</a>
                    <a href="/admin?lang=ru">Russian</a>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div class="main">

    <div class="sidebar">
        <button type="button">
            <a href="/admin" th:text="#{side_bar.admin.home}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-booking/add-new" th:text="#{side_bar.admin.new_booking}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/show-today" th:text="#{side_bar.admin.today_bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/show-tomorrow" th:text="#{side_bar.admin.tomorrow_bookings}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-booking" th:text="#{side_bar.admin.list_of_bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/info-clients" th:text="#{side_bar.admin.list_of_clients}"/>
        </button>
        <button type="button">
            <a href="/admin/info-riders" th:text="#{side_bar.admin.list_of_riders}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-equipment/snowboard" th:text="#{side_bar.admin.snowboard}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/snowboard-boots" th:text="#{side_bar.admin.snowboard_boots}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/ski" th:text="#{side_bar.admin.ski}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/ski-boots" th:text="#{side_bar.admin.ski_boots}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/helmet" th:text="#{side_bar.admin.helmet}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/jacket" th:text="#{side_bar.admin.jacket}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/gloves" th:text="#{side_bar.admin.gloves}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/pants" th:text="#{side_bar.admin.pants}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/protective-shorts" th:text="#{side_bar.admin.protective_shorts}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/knee-protection" th:text="#{side_bar.admin.knee_protection}"/>
        </button>
    </div>

    <div class="main-screen">

        <div class="content">

            <!--Table for Current Bookings-->
            <div class="table">
                <!--Current Bookings-->
                <div>
                    <!--Header-->
                    <h1 th:text="#{admin.main_page.table.header_current}"/>

                    <!--Table-->
                    <table>
                        <tr>
                            <th><a th:text="#{admin.main_page.table.header.id}"/></th>
                            <th><a th:text="#{admin.main_page.table.header.booking_name}"/></th>
                            <th><a th:text="#{admin.main_page.table.header.phone1}"/></th>
                            <th><a th:text="#{admin.main_page.table.header.phone2}"/></th>
                            <th><a th:text="#{admin.main_page.table.header.date_of_arrival}"/></th>
                            <th><a th:text="#{admin.main_page.table.header.date_of_return}"/></th>
                            <th><a th:text="#{admin.main_page.table.header.number_of_riders}"/></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr th:each="oneBooking : ${currentBookings}">
                            <td th:text="${oneBooking.id}"/>
                            <td th:text="${oneBooking.client.name}" th:align="left"/>
                            <td th:text="${oneBooking.client.phone1}"/>
                            <td th:text="${oneBooking.client.phone2}"/>
                            <td th:text="${#dates.format(oneBooking.dateOfArrival, 'dd MMM yyyy HH:mm')}"/>
                            <td th:text="${#dates.format(oneBooking.dateOfReturn, 'dd MMM yyyy HH:mm')}"/>
                            <td th:text="${oneBooking.listOfBookingRiderEquipmentLinks.size}"/>
                            <td th:width="1">
                                <form th:method="GET"
                                      th:action="@{/admin/info-booking/edit/{id}(id=${oneBooking.id})}">
                                    <input class="button" type="submit"
                                           th:value="#{admin.main_page.table.button.edit}"/>
                                </form>
                            </td>
                            <td th:width="1">
                                <form th:method="DELETE"
                                      th:action="@{/admin/delete-booking/{id}(id=${oneBooking.id})}">
                                    <input class="button" type="submit"
                                           th:value="#{admin.main_page.table.button.delete}"/>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>

                <br>

                <!--Button - Add new booking-->
                <div>
                    <a href="/admin/info-booking/add-new">
                        <button class="button" th:text="#{booking.show_all.button.add_new}"/>
                    </a>
                </div>
            </div>

            <!--Table for Incomplete Bookings-->
            <div class="table">
                <!--Incomplete Bookings-->
                <div>
                    <!--Header-->
                    <h1 th:text="#{admin.main_page.table.header_incomplete}"/>

                    <!--Table-->
                    <table>
                        <tr>
                            <th><a th:text="#{admin.main_page.table.header.id}"/></th>
                            <th><a th:text="#{admin.main_page.table.header.booking_name}"/></th>
                            <th><a th:text="#{admin.main_page.table.header.phone1}"/></th>
                            <th><a th:text="#{admin.main_page.table.header.phone2}"/></th>
                            <th><a th:text="#{admin.main_page.table.header.date_of_arrival}"/></th>
                            <th><a th:text="#{admin.main_page.table.header.date_of_return}"/></th>
                            <th><a th:text="#{admin.main_page.table.header.number_of_riders}"/></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr th:each="oneBooking : ${allBookings}">
                            <td th:text="${oneBooking.id}"/>
                            <td th:text="${oneBooking.client.name}" th:align="left"/>
                            <td th:text="${oneBooking.client.phone1}"/>
                            <td th:text="${oneBooking.client.phone2}"/>
                            <td th:text="${#dates.format(oneBooking.dateOfArrival, 'dd MMM yyyy HH:mm')}"/>
                            <td th:text="${#dates.format(oneBooking.dateOfReturn, 'dd MMM yyyy HH:mm')}"/>
                            <td th:text="${oneBooking.listOfBookingRiderEquipmentLinks.size}"/>
                            <td th:width="1">
                                <form th:method="GET"
                                      th:action="@{/admin/change-completed/{id}(id=${oneBooking.id})}">
                                    <input class="button" type="submit"
                                           th:value="#{admin.main_page.table.button.mark_completed}"/>
                                </form>
                            </td>
                            <td th:width="1">
                                <form th:method="GET"
                                      th:action="@{/admin/info-booking/edit/{id}(id=${oneBooking.id})}">
                                    <input class="button" type="submit"
                                           th:value="#{admin.main_page.table.button.edit}"/>
                                </form>
                            </td>
                            <td th:width="1">
                                <form th:method="DELETE"
                                      th:action="@{/admin/delete-booking/{id}(id=${oneBooking.id})}">
                                    <input class="button" type="submit"
                                           th:value="#{admin.main_page.table.button.delete}"/>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>

                <br>

                <!--Button - Add new booking-->
                <div>
                    <a href="/admin/info-booking/add-new">
                        <button class="button" th:text="#{booking.show_all.button.add_new}"/>
                    </a>
                </div>
            </div>

        </div>

    </div>

</div>

</body>

</html>