<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{booking.search.title}">?????</title>
</head>

<body th:align="center">

<!--Header-->
<h1 th:text="#{booking.search.header}">?????</h1>

<!--Table-->
<table th:align="center"
       th:border="1" th:rules="rows"
       th:cellpadding="5">
    <tr>
        <th><a th:text="#{booking.search.table.header.id}">?????</a></th>
        <th><a th:text="#{booking.search.table.header.client}">?????</a></th>
        <th><a th:text="#{booking.search.table.header.phone1}">?????</a></th>
        <th><a th:text="#{booking.search.table.header.phone2}">?????</a></th>
        <th><a th:text="#{booking.search.table.header.date_of_arrival}">?????</a></th>
        <th><a th:text="#{booking.search.table.header.date_of_return}">?????</a></th>
    </tr>
    <tr th:each="oneBooking : ${bookingsBySearch}">
        <td th:text="${oneBooking.getId()}">?????</td>
        <td th:text="${oneBooking.getClient().getSurname()}" th:align="left">?????</td>
        <td th:text="${oneBooking.getClient().getPhone1()}">?????</td>
        <td th:text="${oneBooking.getClient().getPhone2()}">?????</td>
        <td th:text="${#dates.format(oneBooking.getDateOfArrival(), 'dd MMM yyyy')}"></td>
        <td th:text="${#dates.format(oneBooking.getDateOfReturn(), 'dd MMM yyyy')}"></td>
        <td th:width="25"></td>
        <td>
            <form th:method="GET" th:action="@{/admin/info-booking/edit/{id}(id=${oneBooking.getId()})}">
                <input type="submit" th:value="#{booking.search.table.button.edit}"/>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/info-booking/{id}(id=${oneBooking.getId()})}">
                <input type="submit" th:value="#{booking.search.table.button.delete}"/>
            </form>
        </td>
    </tr>
</table>

<br>

<!--Return to "booking/show_all"-->
<a href="/admin/info-booking">
    <button th:text="#{booking.search.button.return}">?????</button>
</a>

</body>

</html>