<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{bookings.title}"/>
    <link rel="stylesheet" th:href="@{${#themes.code('stylesheet')}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@350&display=swap"/>
</head>

<body th:with="role=${#authentication.principal.applicationUserRole.toString.toLowerCase}">

<!--/*@thymesVar id="listOfBookings" type="java.util.List<my.project.skirentalshop.entity.Booking>"*/-->
<!--/*@thymesVar id="allAvailableRidersForClient" type="java.util.List<my.project.skirentalshop.entity.Client>"*/-->
<!--/*@thymesVar id="allAvailableSnowboards" type="java.util.List<my.project.skirentalshop.entity.Equipment>"*/-->
<!--/*@thymesVar id="allAvailableSnowboardBoots" type="java.util.List<my.project.skirentalshop.entity.Equipment>"*/-->
<!--/*@thymesVar id="allAvailableSki" type="java.util.List<my.project.skirentalshop.entity.Equipment>"*/-->
<!--/*@thymesVar id="allAvailableSkiBoots" type="java.util.List<my.project.skirentalshop.entity.Equipment>"*/-->
<!--/*@thymesVar id="allAvailableHelmets" type="java.util.List<my.project.skirentalshop.entity.Equipment>"*/-->
<!--/*@thymesVar id="allAvailableJackets" type="java.util.List<my.project.skirentalshop.entity.Equipment>"*/-->
<!--/*@thymesVar id="allAvailableGloves" type="java.util.List<my.project.skirentalshop.entity.Equipment>"*/-->
<!--/*@thymesVar id="allAvailablePants" type="java.util.List<my.project.skirentalshop.entity.Equipment>"*/-->
<!--/*@thymesVar id="allAvailableProtectiveShorts" type="java.util.List<my.project.skirentalshop.entity.Equipment>"*/-->
<!--/*@thymesVar id="allAvailableKneeProtection" type="java.util.List<my.project.skirentalshop.entity.Equipment>"*/-->
<!--/*@thymesVar id="booking" type="my.project.skirentalshop.entity.Booking"*/-->
<!--/*@thymesVar id="existingRiderToBeAddedId" type="java.lang.Long"*/-->
<!--/*@thymesVar id="action" type="java.lang.String"*/-->
<!--/*@thymesVar id="search" type="java.lang.String"*/-->
<!--/*@thymesVar id="reverseSortDirection" type="java.lang.String"*/-->
<!--/*@thymesVar id="bookingId" type="java.lang.String"*/-->

<div class="header">
    <nav class="top-nav">
        <ul class="top-nav-items">
            <li class="dropdown">
                <div class="image-cropper">
                    <img class="top-nav-user-photo"
                         th:src="${#authentication.principal.photo != null}
                         ? '/images/user-photos/' + ${#authentication.principal.photo}
                         : '/images/user-photos/no-user-photo.jpeg'"
                         alt="user-photo"/>
                </div>
                <div class="dropdown-content">
                    <div th:if="${role == 'admin'}">
                        <a th:href="'/' + ${role} + '/application-users'" th:text="#{top-nav.lock-users}"/>
                        <a th:href="'/sign-out'" th:text="#{top-nav.sign-out}"/>
                    </div>
                    <div th:if="${role == 'client'}">
                        <a th:href="'/' + ${role} + '/settings'" th:text="#{top-nav.settings}"/>
                        <a th:href="'/sign-out'" th:text="#{top-nav.sign-out}"/>
                    </div>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.theme}"/>
                <div class="dropdown-content">
                    <a th:href="@{${action == 'showAll' ? '?' : ''} +
                                  ${action == 'search'  ? 'search?search=' + search + '&' : ''} +
                                  ${action == 'create'  ? '?' : ''} +
                                  ${action == 'update'  ? '?' : ''} +
                                                                                                       'theme=theme_1'}"
                       th:text="#{top-nav.theme.theme-1}"/>
                    <a th:href="@{${action == 'showAll' ? '?' : ''} +
                                  ${action == 'search'  ? 'search?search=' + search + '&' : ''} +
                                  ${action == 'create'  ? '?' : ''} +
                                  ${action == 'update'  ? '?' : ''} +
                                                                                                       'theme=theme_2'}"
                       th:text="#{top-nav.theme.theme-2}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.lang}"/>
                <div class="dropdown-content">
                    <a th:href="@{${action == 'showAll' ? '?' : ''} +
                                  ${action == 'search'  ? 'search?search=' + search + '&' : ''} +
                                  ${action == 'create'  ? '?' : ''} +
                                  ${action == 'update'  ? '?' : ''} +
                                                                                                 'lang=en'}">English</a>
                    <a th:href="@{${action == 'showAll' ? '?' : ''} +
                                  ${action == 'search'  ? 'search?search=' + search + '&' : ''} +
                                  ${action == 'create'  ? '?' : ''} +
                                  ${action == 'update'  ? '?' : ''} +
                                                                                                 'lang=ru'}">Русский</a>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div class="main">

    <div class="sidebar" th:if="${role == 'admin'}">
        <button type="button">
            <a href="/admin" th:text="#{side-bar.admin.home}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/bookings/new" th:text="#{side-bar.admin.new-booking}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/bookings-today" th:text="#{side-bar.admin.today-bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/bookings-tomorrow" th:text="#{side-bar.admin.tomorrow-bookings}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/bookings" th:text="#{side-bar.admin.list-of-bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/clients" th:text="#{side-bar.admin.list-of-clients}"/>
        </button>
        <button type="button">
            <a href="/admin/riders" th:text="#{side-bar.admin.list-of-riders}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/equipment/snowboards" th:text="#{side-bar.admin.snowboard}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/snowboard-boots" th:text="#{side-bar.admin.snowboard-boots}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/ski" th:text="#{side-bar.admin.ski}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/ski-boots" th:text="#{side-bar.admin.ski-boots}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/helmets" th:text="#{side-bar.admin.helmet}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/jackets" th:text="#{side-bar.admin.jacket}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/gloves" th:text="#{side-bar.admin.gloves}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/pants" th:text="#{side-bar.admin.pants}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/protective-shorts" th:text="#{side-bar.admin.protective-shorts}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/knee-protection" th:text="#{side-bar.admin.knee-protection}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/equipment/broken" th:text="#{side-bar.admin.broken}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/in-service" th:text="#{side-bar.admin.in-service}"/>
        </button>
    </div>
    <div class="sidebar" th:if="${role == 'client'}">
        <button type="button"><a href="/client" th:text="#{side-bar.client.home}"/></button>
        <br>
        <button type="button"><a href="/client/bookings/new" th:text="#{side-bar.client.new-booking}"/></button>
        <br>
        <button type="button"><a href="/client/bookings" th:text="#{side-bar.client.history}"/></button>
        <br>
        <button type="button"><a href="/client/riders" th:text="#{side-bar.client.riders}"/></button>
    </div>

    <div class="main-screen">

        <div class="content">

            <div th:if="${action == 'showAll' || action == 'search'}" class="table">

                <!--Header-->
                <div th:if="${role == 'admin'}">
                    <h1 th:if="${action == 'showAll'}" th:text="#{bookings.header.show-all}"/>
                    <h1 th:if="${action == 'search'}" th:text="#{bookings.header.search}"/>
                </div>
                <div th:if="${role == 'client'}">
                    <h1 th:text="#{client.history.table.all-bookings}"/>
                </div>

                <!--Search-->
                <div th:if="${role == 'admin'}">
                    <form th:method="GET"
                          th:action="@{'/' + ${role} + '/bookings/search'}">
                        <label for="input-search"></label>
                        <input id="input-search" style="width:200px"
                               type="text" th:name="search"
                               th:value="${search}" th:placeholder="#{bookings.button.search.placeholder}"/>
                        <input class="button" type="submit" th:value="#{bookings.button.search}"/>
                    </form>
                </div>

                <br>

                <!--Table-->
                <table>
                    <tr>
                        <!-- id -->
                        <th>
                            <a th:if="${action == 'search'}" th:text="#{bookings.parameter.id}"/>
                            <a th:if="${action == 'showAll'}" th:text="#{bookings.parameter.id}"
                               th:href="@{'/' + ${role} + '/bookings/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"/>
                        </th>
                        <!-- client -->
                        <th>
                            <a th:if="${action == 'search'}" th:text="#{bookings.parameter.client}"/>
                            <a th:if="${action == 'showAll'}" th:text="#{bookings.parameter.client}"
                               th:href="@{'/' + ${role} + '/bookings/sort?parameter=client&sortDirection=' + ${reverseSortDirection}}"/>
                        </th>
                        <!-- phone1 -->
                        <th><a th:text="#{bookings.parameter.phone1}"/></th>
                        <!-- phone2 -->
                        <th><a th:text="#{bookings.parameter.phone2}"/></th>
                        <!-- date of arrival -->
                        <th>
                            <a th:if="${action == 'search'}" th:text="#{bookings.parameter.date-of-arrival}"/>
                            <a th:if="${action == 'showAll'}" th:text="#{bookings.parameter.date-of-arrival}"
                               th:href="@{'/' + ${role} + '/bookings/sort?parameter=dateOfArrival&sortDirection=' + ${reverseSortDirection}}"/>
                        </th>
                        <!-- date of return -->
                        <th>
                            <a th:if="${action == 'search'}" th:text="#{bookings.parameter.date-of-return}"/>
                            <a th:if="${action == 'showAll'}" th:text="#{bookings.parameter.date-of-return}"
                               th:href="@{'/' + ${role} + '/bookings/sort?parameter=dateOfReturn&sortDirection=' + ${reverseSortDirection}}"/>
                            <!-- number of riders -->
                        </th>
                        <th><a th:text="#{bookings.parameter.number-of-riders}"/></th>
                        <th></th>
                        <th th:if="${role == 'admin'}"></th>
                        <th th:if="${role == 'admin'}"></th>
                        <th th:if="${role == 'admin'}"></th>
                    </tr>
                    <tr th:each="oneBooking : ${listOfBookings}">
                        <td th:text="${oneBooking.id}" th:width="50"/>
                        <td th:text="${oneBooking.client.name}" th:align="left"/>
                        <td th:text="${oneBooking.client.phone1}"/>
                        <td th:text="${oneBooking.client.phone2}"/>
                        <td th:text="${#dates.format(oneBooking.dateOfArrival, 'dd MMM yyyy HH:mm')}"/>
                        <td th:text="${#dates.format(oneBooking.dateOfReturn, 'dd MMM yyyy HH:mm')}"/>
                        <td th:text="${oneBooking.listOfBookingRiderEquipmentLinks.size}"/>
                        <td></td>
                        <td th:if="${role == 'admin'}" th:width="1">
                            <form th:method="GET"
                                  th:action="@{'/' + ${role} + '/bookings/' + ${oneBooking.id} + '/change-completed' }">
                                <span th:if="${oneBooking.completed == false}">
                                    <input class="button" type="submit" th:value="#{bookings.button.mark-completed}"/>
                                </span>
                                <span th:if="${oneBooking.completed == true}">
                                    <input class="button" type="submit" th:value="#{bookings.button.mark-uncompleted}"/>
                                </span>
                            </form>
                        </td>
                        <td th:if="${role == 'admin'}" th:width="1">
                            <form th:method="GET" th:action="@{'/' + ${role} + '/bookings/' + ${oneBooking.id}}">
                                <input class="button" type="submit" th:value="#{bookings.button.edit-booking}"/>
                            </form>
                        </td>
                        <td th:if="${role == 'admin'}" th:width="1">
                            <form th:method="DELETE" th:action="@{'/' + ${role} + '/bookings/' + ${oneBooking.id}}">
                                <input class="button" type="submit" th:value="#{bookings.button.delete}"/>
                            </form>
                        </td>
                    </tr>
                </table>

                <br>

                <!--Go to "add-new"-->
                <div th:if="${action == 'showAll'}">
                    <a th:href="'/' + ${role} + '/bookings/new'">
                        <button class="button" th:text="#{bookings.button.add-booking}"/>
                    </a>
                </div>

                <!--Return to "show-all"-->
                <div th:if="${action == 'search'}">
                    <a th:href="'/' + ${role} + '/bookings'">
                        <button class="button" th:text="#{bookings.button.return}"/>
                    </a>
                </div>

            </div>

            <div th:if="${action == 'create' || action == 'update'}"
                 th:class="${action == 'create' ? 'new-edit' :
                            (action == 'update' ? 'booking-edit' : '')}">

                <!--Header-->
                <h1 th:if="${action == 'create'}" th:text="#{bookings.header.add-new}"/>
                <h1 th:if="${action == 'update'}" th:text="#{bookings.header.edit}"/>

                <!--Add new / Edit Booking-->
                <div th:class="${action == 'update' ? 'booking-edit-booking' : ''}">
                    <!--Input parameters-->
                    <form th:method="${action == 'create'} ? POST :
                                    (${action == 'update'} ? PATCH : '')"
                          th:action="@{'/' + ${role} + '/bookings' + ${action == 'create' ? '' : ''}
                                                                   + ${action == 'update' ? '/' + bookingId : ''}}"
                          th:object="${booking}">
                        <table>
                            <!-- id -->
                            <tr th:if="${action == 'update'}">
                                <td th:text="#{bookings.parameter.id} + ': '"/>
                                <td th:text="*{id}"/>
                            </tr>
                            <!-- client -->
                            <tr>
                                <td th:text="#{bookings.parameter.client} + ': '"/>
                                <td>
                                    <label for="input-name"></label>
                                    <input id="input-name" type="text" th:field="*{client.name}"
                                           th:placeholder="#{bookings.parameter.client.placeholder}"/>
                                    <div class="validation-message"
                                         th:if="${#fields.hasErrors('client.name')}" th:errors="*{client.name}">
                                    </div>
                                </td>
                            </tr>
                            <!-- phone1 -->
                            <tr>
                                <td th:text="#{bookings.parameter.phone1} + ': '"/>
                                <td>
                                    <label for="input-phone1"></label>
                                    <input id="input-phone1"
                                           type="text" th:field="*{client.phone1}" placeholder="X(XXX)XXX-XX-XX"/>
                                    <div class="validation-message"
                                         th:if="${#fields.hasErrors('client.phone1')}" th:errors="*{client.phone1}">
                                    </div>
                                </td>
                            </tr>
                            <!-- phone2 -->
                            <tr>
                                <td th:text="#{bookings.parameter.phone2} + ': '"/>
                                <td>
                                    <label for="input-phone2"></label>
                                    <input id="input-phone2"
                                           type="text" th:field="*{client.phone2}" placeholder="X(XXX)XXX-XX-XX"/>
                                </td>
                            </tr>
                            <!-- date of arrival -->
                            <tr>
                                <td th:text="#{bookings.parameter.date-of-arrival} + ': '"/>
                                <td>
                                    <label for="input-doa"></label>
                                    <input id="input-doa" type="datetime-local" th:field="*{dateOfArrival}"/>
                                    <div class="validation-message"
                                         th:if="${#fields.hasErrors('dateOfArrival')}" th:errors="*{dateOfArrival}">
                                    </div>
                                </td>
                            </tr>
                            <!-- date of return -->
                            <tr>
                                <td th:text="#{bookings.parameter.date-of-return} + ': '"/>
                                <td>
                                    <label for="input-dor"></label>
                                    <input id="input-dor" type="datetime-local" th:field="*{dateOfReturn}"/>
                                    <div class="validation-message"
                                         th:if="${#fields.hasErrors('dateOfReturn')}" th:errors="*{dateOfReturn}">
                                    </div>
                                    <div class="validation-message"
                                         th:if="${#fields.hasErrors('${booking}')}" th:errors="${booking}">
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <br>

                        <!-- Submit button -->
                        <div>
                            <input th:if="${action == 'create'}"
                                   class="button" type="submit" th:value="#{bookings.button.add-rider}"/>
                            <input th:if="${action == 'update'}"
                                   class="button" type="submit" th:value="#{bookings.button.save}"/>
                        </div>

                        <br>
                    </form>
                </div>

                <!--Edit list of riders-->
                <div th:if="${action == 'update'}" class="booking-edit-rider">
                    <div th:if="${booking.listOfBookingRiderEquipmentLinks != null && booking.listOfBookingRiderEquipmentLinks.size > 0}">
                        <table>
                            <tr th:each="oneLink : ${booking.listOfBookingRiderEquipmentLinks}">
                                <td th:text="${oneLink.rider.id}" style="vertical-align:top" th:width="1"/>
                                <td style="vertical-align:top" th:align="left">
                                    <div th:text="#{bookings.parameter.client} + ': ' + ${oneLink.rider.name}"/>
                                    <div th:text="#{riders.parameter.sex} + ': ' + #{${'riders.sex.' + oneLink.rider.sex}}"/>
                                    <div th:text="#{riders.parameter.height} + ': ' + ${oneLink.rider.height}"/>
                                    <div th:text="#{riders.parameter.weight} + ': ' + ${oneLink.rider.weight}"/>
                                    <div th:text="#{riders.parameter.foot-size} + ': ' + #{${'equipment.size.' + oneLink.rider.footSize}}"/>
                                </td>
                                <td th:width="190" th:align="left">
                                    <div th:each="oneEquipment : ${oneLink.riderRequestedEquipment}">
                                        <div th:text="#{'equipment.type.' + ${oneEquipment.name}}"/>
                                    </div>
                                </td>
                                <form th:if="${role == 'admin'}"
                                      th:method="PATCH"
                                      th:action="@{'/admin/bookings/' + ${bookingId} + '/rider-assigned-equipment/' + ${oneLink.rider.id}}"
                                      th:list="${riderAssignedEquipmentDTO}">
                                    <td th:width="10" style="vertical-align:center" th:align="left">
                                        <div th:each="oneEquipment : ${oneLink.riderRequestedEquipment}">
                                            <div th:each="oneType : ${T(my.project.skirentalshop.entity.enums.TypesOfEquipment).values}">
                                                <div th:if="${oneEquipment == oneType}">
                                                    <label for="select-equipment"></label>
                                                    <select th:name="${oneType.nameSingularCamel}" id="select-equipment"
                                                            style="width:300px">
                                                        <option th:if="${bookingService.containsEquipmentByType(oneLink.riderAssignedEquipment, oneType) == false}"
                                                                value="" th:disabled="false" th:selected="selected">
                                                        </option>
                                                        <option th:if="${bookingService.containsEquipmentByType(oneLink.riderAssignedEquipment, oneType)} == false"
                                                                th:each="oneEquipmentByType : ${bookingService.showAllAvailableEquipmentByType(booking, oneType)}"
                                                                th:value="${oneEquipmentByType.id}"
                                                                th:text="${oneType.name == 'SNOWBOARD_BOOTS' || oneType.name == 'SKI_BOOTS'}
                                                                    ? #{${'equipment.size.' + oneEquipmentByType.size}} + ' ' + ${oneEquipmentByType.name}
                                                                    : ${oneEquipmentByType.size} + ' ' + ${oneEquipmentByType.name}">
                                                        </option>
                                                        <option th:if="${bookingService.containsEquipmentByType(oneLink.riderAssignedEquipment, oneType)} == true"
                                                                th:value="${bookingService.getEquipmentByType(oneLink.riderAssignedEquipment, oneType).id}"
                                                                th:text=" ${oneType.name == 'SNOWBOARD_BOOTS' || oneType.name == 'SKI_BOOTS'}
                                                                    ? #{${'equipment.size.' + bookingService.getEquipmentByType(oneLink.riderAssignedEquipment, oneType).size}} +
                                                                        ' ' + ${bookingService.getEquipmentByType(oneLink.riderAssignedEquipment, oneType).name}
                                                                    : ${bookingService.getEquipmentByType(oneLink.riderAssignedEquipment, oneType).size} +
                                                                        ' ' + ${bookingService.getEquipmentByType(oneLink.riderAssignedEquipment, oneType).name}">
                                                        </option>
                                                        <option th:if="${bookingService.containsEquipmentByType(oneLink.riderAssignedEquipment, oneType)} == true"
                                                                th:each="oneEquipmentByType : ${bookingService.showAllAvailableEquipmentByType(booking, oneType)}"
                                                                th:value="${oneEquipmentByType.id}"
                                                                th:text="${oneType.name == 'SNOWBOARD_BOOTS' || oneType.name == 'SKI_BOOTS'}
                                                                    ? #{${'equipment.size.' + oneEquipmentByType.size}} + ' ' + ${oneEquipmentByType.name}
                                                                    : ${oneEquipmentByType.size} + ' ' + ${oneEquipmentByType.name}">
                                                        </option>
                                                        <option th:if="${bookingService.containsEquipmentByType(oneLink.riderAssignedEquipment, oneType)} == true"
                                                                value="" th:disabled="false">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td th:width="10" style="vertical-align:center">
                                        <input class="button" type="submit"
                                               th:value="#{bookings.button.assign-equipment}"/>
                                    </td>
                                </form>
                                <td th:width="10">
                                    <a th:href="'/' + ${role} + '/riders/' + ${oneLink.rider.id} + '?bookingId=' + ${booking.id}">
                                        <button class="button" th:text="#{bookings.button.edit-rider}"/>
                                    </a>
                                </td>
                                <td th:width="10">
                                    <a th:href="@{'/' + ${role} + '/bookings/' + ${booking.id} + '/remove-rider/' + ${oneLink.rider.id}}">
                                        <button class="button" th:text="#{bookings.button.remove-rider}"/>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div th:unless="${booking.listOfBookingRiderEquipmentLinks != null && booking.listOfBookingRiderEquipmentLinks.size > 0}"
                         th:text="#{bookings.empty-table}"/>
                    <br>
                </div>

                <!--Add existing Rider to Booking-->
                <div th:if="${role == 'client' && action == 'update'}">
                    <div th:if="${allAvailableRidersForClient.size > 0}">
                        <form th:method="PATCH"
                              th:action="@{'/client/bookings/' + ${bookingId} + '/new-existing-rider'}"
                              th:object="${existingRiderToBeAddedId}">
                            <label for="select-existing-rider-id"></label>
                            <select id="select-existing-rider-id" name="existingRiderToBeAddedId">
                                <option th:each="oneRider : ${allAvailableRidersForClient}"
                                        th:value="${oneRider.id}"
                                        th:text="${oneRider.name}">
                                </option>
                            </select>
                            <input class="button" type="submit" th:value="#{bookings.button.add-existing-rider}"/>
                        </form>

                        <br>
                    </div>
                </div>

                <!--Add new rider-->
                <div th:if="${action == 'update'}">
                    <a th:href="@{'/' + ${role} + '/riders/new?bookingId=' + ${booking.id}}">
                        <button class="button" th:text="#{bookings.button.add-new-rider}"/>
                    </a>

                    <br><br>
                </div>

                <!--Return-->
                <a th:href="@{${role == 'admin' ? '/' + role + '/bookings' : ''} +
                              ${role == 'client' ? '/' + role + 'client' : ''}}">
                    <button class="button" th:text="#{bookings.button.return}"/>
                </a>

            </div>

        </div>

        <div class="footer" th:if="${role == 'client'}">
            <div class="text-block">
                <div class="center" th:text="#{top-nav.contact-us}"/>
            </div>
        </div>

    </div>

</div>

</body>

</html>
