<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{${'equipment.condition.' + equipmentCondition + '.title'}}"/>
    <link rel="stylesheet" th:href="@{${#themes.code('stylesheet')}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@350&display=swap"/>
</head>

<body>

<div class="header">
    <nav class="top-nav">
        <ul class="top-nav-items">
            <li class="dropdown">
                <div class="image-cropper">
                    <img class="top-nav-user-photo"
                         src="/images/user-photos/no-user-photo.jpeg"
                         alt="user-photo"/>
                </div>
                <div class="dropdown-content">
                    <a href="/admin/application-users" th:text="#{top-nav.lock-users}"/>
                    <a href="/sign-out" th:text="#{top-nav.sign-out}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.theme}"/>
                <div class="dropdown-content">
                    <a th:href="@{'?theme=theme_1'}" th:text="#{top-nav.theme.theme-1}"/>
                    <a th:href="@{'?theme=theme_2'}" th:text="#{top-nav.theme.theme-2}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.lang}"/>
                <div class="dropdown-content">
                    <a th:href="@{'?lang=en'}">English</a>
                    <a th:href="@{'?lang=ru'}">Русский</a>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div class="main">

    <div class="sidebar">
        <button type="button">
            <a href="/admin" th:text="#{side-bar.admin.home}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/bookings/new" th:text="#{side-bar.admin.new-booking}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/bookings-today" th:text="#{side-bar.admin.today-bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/bookings-tomorrow" th:text="#{side-bar.admin.tomorrow-bookings}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/bookings" th:text="#{side-bar.admin.list-of-bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/clients" th:text="#{side-bar.admin.list-of-clients}"/>
        </button>
        <button type="button">
            <a href="/admin/riders" th:text="#{side-bar.admin.list-of-riders}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/equipment/snowboards" th:text="#{side-bar.admin.snowboard}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/snowboard-boots" th:text="#{side-bar.admin.snowboard-boots}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/ski" th:text="#{side-bar.admin.ski}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/ski-boots" th:text="#{side-bar.admin.ski-boots}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/helmets" th:text="#{side-bar.admin.helmet}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/jackets" th:text="#{side-bar.admin.jacket}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/gloves" th:text="#{side-bar.admin.gloves}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/pants" th:text="#{side-bar.admin.pants}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/protective-shorts" th:text="#{side-bar.admin.protective-shorts}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/knee-protection" th:text="#{side-bar.admin.knee-protection}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/equipment/broken" th:text="#{side-bar.admin.broken}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/in-service" th:text="#{side-bar.admin.in-service}"/>
        </button>
    </div>

    <div class="main-screen">

        <div class="content">

            <div class="table"
                 th:each="typeOfEquipment : ${T(my.project.skirentalshop.entity.enums.TypesOfEquipment).values}">

                <!--Header-->
                <h1 th:text="#{${typeOfEquipment.namePluralDash + '.title'}}"/>

                <!--Table-->
                <table>
                    <tr>
                        <!-- id -->
                        <th th:width="50"><a th:text="#{equipment.parameter.id}"/></th>
                        <!-- name -->
                        <th><a th:text="#{equipment.parameter.name}"/></th>
                        <!-- condition -->
                        <th><a th:text="#{equipment.parameter.condition}"/></th>
                        <!-- snowboardSize -->
                        <th th:if="${typeOfEquipment.name == 'SNOWBOARD'}">
                            <a th:text="#{equipment.parameter.snowboard-size}"/>
                        </th>
                        <!-- skiSize -->
                        <th th:if="${typeOfEquipment.name == 'SKI'}">
                            <a th:text="#{equipment.parameter.ski-size}"/>
                        </th>
                        <!-- bootsSize -->
                        <th th:if="${typeOfEquipment.name == 'SNOWBOARD_BOOTS' || typeOfEquipment.name == 'SKI_BOOTS'}">
                            <a th:text="#{equipment.parameter.boots-size}"/>
                        </th>
                        <!-- clothesSize -->
                        <th th:if="${typeOfEquipment.name == 'HELMET'            || typeOfEquipment.name == 'JACKET' ||
                                     typeOfEquipment.name == 'GLOVES'            || typeOfEquipment.name == 'PANTS'  ||
                                     typeOfEquipment.name == 'PROTECTIVE_SHORTS' || typeOfEquipment.name == 'KNEE_PROTECTION'}">
                            <a th:text="#{equipment.parameter.clothes-size}"/>
                        </th>
                        <!-- stiffness -->
                        <th th:if="${typeOfEquipment.name == 'SNOWBOARD' || typeOfEquipment.name == 'SNOWBOARD_BOOTS' ||
                                     typeOfEquipment.name == 'SKI'       || typeOfEquipment.name == 'SKI_BOOTS'}">
                            <a th:text="#{equipment.parameter.stiffness}"/>
                        </th>
                        <!-- arch -->
                        <th th:if="${typeOfEquipment.name == 'SNOWBOARD'}">
                            <a th:text="#{equipment.parameter.arch}"/>
                        </th>
                        <!-- bindingSize -->
                        <th th:if="${typeOfEquipment.name == 'SNOWBOARD'}">
                            <a th:text="#{equipment.parameter.binding-size.header}"/>
                        </th>
                        <th></th>
                    </tr>
                    <tr th:each="oneEquipment : ${listOfEquipment}">
                        <!-- id -->
                        <td th:if="${oneEquipment.type == typeOfEquipment}"
                            th:text="${oneEquipment.id}"/>
                        <!-- name -->
                        <td th:if="${oneEquipment.type == typeOfEquipment}"
                            th:text="${oneEquipment.name}" th:align="left"/>
                        <!-- condition -->
                        <td th:if="${oneEquipment.type == typeOfEquipment}"
                            th:text="#{${'equipment.condition.' + oneEquipment.condition}}"/>
                        <!-- snowboardSize -->
                        <td th:if="${oneEquipment.type == typeOfEquipment &&
                                     typeOfEquipment.name == 'SNOWBOARD'}"
                            th:text="${oneEquipment.size}"/>
                        <!-- skiSize -->
                        <td th:if="${oneEquipment.type == typeOfEquipment &&
                                     typeOfEquipment.name == 'SKI'}"
                            th:text="${oneEquipment.size}"/>
                        <!-- bootsSize -->
                        <td th:if="${oneEquipment.type == typeOfEquipment &&
                                     (typeOfEquipment.name == 'SNOWBOARD_BOOTS' || typeOfEquipment.name == 'SKI_BOOTS')}"
                            th:text="#{${'equipment.size.' + oneEquipment.size}}"/>
                        <!-- clothesSize -->
                        <td th:if="${oneEquipment.type == typeOfEquipment &&
                                     (typeOfEquipment.name == 'HELMET'            || typeOfEquipment.name == 'JACKET' ||
                                      typeOfEquipment.name == 'GLOVES'            || typeOfEquipment.name == 'PANTS'  ||
                                      typeOfEquipment.name == 'PROTECTIVE_SHORTS' || typeOfEquipment.name == 'KNEE_PROTECTION')}"
                            th:text="${oneEquipment.size}"/>
                        <!-- stiffness -->
                        <td th:if="${oneEquipment.type == typeOfEquipment &&
                                     (typeOfEquipment.name == 'SNOWBOARD' || typeOfEquipment.name == 'SNOWBOARD_BOOTS' ||
                                      typeOfEquipment.name == 'SKI'       || typeOfEquipment.name == 'SKI_BOOTS')}"
                            th:text="#{${'equipment.stiffness.' + oneEquipment.stiffness}}"/>
                        <!-- arch -->
                        <td th:if="${oneEquipment.type == typeOfEquipment &&
                                     typeOfEquipment.name == 'SNOWBOARD'}"
                            th:text="#{${'equipment.arch.' + oneEquipment.arch}}"/>
                        <!-- bindingSize -->
                        <td th:if="${oneEquipment.type == typeOfEquipment &&
                                     typeOfEquipment.name == 'SNOWBOARD'}"
                            th:text="${oneEquipment.bindingSize}"/>
                        <!-- Edit button -->
                        <td th:if="${oneEquipment.type == typeOfEquipment}"
                            th:width="1">
                            <a th:href="@{'/admin/equipment/' + ${typeOfEquipment.namePluralDash} + '/' + ${oneEquipment.id}}">
                                <button class="button" th:text="#{equipment.button.edit}"/>
                            </a>
                        </td>
                    </tr>
                </table>

            </div>

            <br>

        </div>

    </div>

</div>

</body>

</html>
