<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{error.title}"/>
    <link rel="stylesheet" th:href="@{${#themes.code('stylesheet')}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@350&display=swap"/>
</head>

<body>

<div class="header" th:if="${#request.userPrincipal.name == 'admin'}">
    <nav class="top-nav">
        <ul class="top-nav-items">
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.settings}"/>
                <div class="dropdown-content">
                    <a href="/admin/application-users" th:text="#{top-nav.lock-users}"/>
                    <a href="/sign-out" th:text="#{top-nav.sign-out}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.theme}"/>
                <div class="dropdown-content">
                    <a th:href="@{${action == 'showAll' ? '?' : ''} +
                                  ${action == 'search' ? 'search?search=' + search + '&' : ''} +
                                                                                                       'theme=theme_1'}"
                       th:text="#{top-nav.theme.theme-1}"/>
                    <a th:href="@{${action == 'showAll' ? '?' : ''} +
                                  ${action == 'search' ? 'search?search=' + search + '&' : ''} +
                                                                                                       'theme=theme_2'}"
                       th:text="#{top-nav.theme.theme-2}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.lang}"/>
                <div class="dropdown-content">
                    <a th:href="@{${action == 'showAll' ? '?' : ''} +
                                  ${action == 'search' ? 'search?search=' + search + '&' : ''} +
                                                                                                 'lang=en'}">English</a>
                    <a th:href="@{${action == 'showAll' ? '?' : ''} +
                                  ${action == 'search' ? 'search?search=' + search + '&' : ''} +
                                                                                                 'lang=ru'}">Русский</a>
                </div>
            </li>
        </ul>
    </nav>
</div><!--admin-->
<div class="header" th:if="${#request.userPrincipal.name != 'admin'}">
    <nav class="top-nav">
        <ul class="top-nav-items">
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.account}"/>
                <div class="dropdown-content">
                    <a href="/client/settings" th:text="#{top-nav.settings}"/>
                    <a href="/sign-out" th:text="#{top-nav.sign-out}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.theme}"/>
                <div class="dropdown-content">
                    <a th:href="@{'/client?theme=theme_1'}" th:text="#{top-nav.theme.theme-1}"/>
                    <a th:href="@{'/client?theme=theme_2'}" th:text="#{top-nav.theme.theme-2}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.lang}"/>
                <div class="dropdown-content">
                    <a th:href="@{'/client?lang=en'}">English</a>
                    <a th:href="@{'/client?lang=ru'}">Русский</a>
                </div>
            </li>
        </ul>
    </nav>
</div><!--client-->

<div class="main">

    <div class="sidebar" th:if="${#request.userPrincipal.name == 'admin'}">
        <button type="button">
            <a href="/admin" th:text="#{side-bar.admin.home}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/bookings/new" th:text="#{side-bar.admin.new-booking}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/bookings-today" th:text="#{side-bar.admin.today-bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/bookings-tomorrow" th:text="#{side-bar.admin.tomorrow-bookings}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/bookings" th:text="#{side-bar.admin.list-of-bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/clients" th:text="#{side-bar.admin.list-of-clients}"/>
        </button>
        <button type="button">
            <a href="/admin/riders" th:text="#{side-bar.admin.list-of-riders}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/equipment/snowboards" th:text="#{side-bar.admin.snowboard}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/snowboard-boots" th:text="#{side-bar.admin.snowboard-boots}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/ski" th:text="#{side-bar.admin.ski}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/ski-boots" th:text="#{side-bar.admin.ski-boots}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/helmets" th:text="#{side-bar.admin.helmet}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/jackets" th:text="#{side-bar.admin.jacket}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/gloves" th:text="#{side-bar.admin.gloves}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/pants" th:text="#{side-bar.admin.pants}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/protective-shorts" th:text="#{side-bar.admin.protective-shorts}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/knee-protection" th:text="#{side-bar.admin.knee-protection}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/equipment/broken" th:text="#{side-bar.admin.broken}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/in-service" th:text="#{side-bar.admin.in-service}"/>
        </button>
    </div><!--admin-->
    <div class="sidebar" th:if="${#request.userPrincipal.name != 'admin'}">
        <button type="button"><a href="/client" th:text="#{side-bar.client.home}"/></button>
        <br>
        <button type="button"><a href="/client/bookings/new" th:text="#{side-bar.client.new-booking}"/></button>
        <br>
        <button type="button"><a href="/client/bookings" th:text="#{side-bar.client.history}"/></button>
        <br>
        <button type="button"><a href="/client/riders" th:text="#{side-bar.client.riders}"/></button>
    </div><!--client-->

    <div class="main-screen">

        <div class="content">

            <div class="table">
                <h1 th:text="#{error.message}"></h1>
            </div>

        </div>

        <div class="footer" th:if="${#request.userPrincipal.name != 'admin'}">
            <div class="text-block">
                <div class="center" th:text="#{top-nav.contact-us}"/>
            </div>
        </div><!--client-->

    </div>

</div>

</body>

</html>
