<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{booking.add-new.title}"/>
    <link rel="stylesheet" th:href="@{${#themes.code('afterAuthentication')}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@350&display=swap"/>
</head>

<body>

<div class="header">
    <nav class="top-nav">
        <ul class="top-nav-items">
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.account}"/>
                <div class="dropdown-content">
                    <a href="/sign-out" th:text="#{top-nav.sign-out}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.theme}"/>
                <div class="dropdown-content">
                    <a href="/admin/info-booking/add-new?theme=theme_1" th:text="#{top-nav.theme.theme-1}"/>
                    <a href="/admin/info-booking/add-new?theme=theme_2" th:text="#{top-nav.theme.theme-2}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.lang}"/>
                <div class="dropdown-content">
                    <a href="/admin/info-booking/add-new?lang=en">English</a>
                    <a href="/admin/info-booking/add-new?lang=ru">Russian</a>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div class="main">

    <div class="sidebar">
        <button type="button">
            <a href="/admin" th:text="#{side-bar.admin.home}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-booking/add-new" th:text="#{side-bar.admin.new-booking}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/show-today" th:text="#{side-bar.admin.today-bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/show-tomorrow" th:text="#{side-bar.admin.tomorrow-bookings}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-booking" th:text="#{side-bar.admin.list-of-bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/info-clients" th:text="#{side-bar.admin.list-of-clients}"/>
        </button>
        <button type="button">
            <a href="/admin/info-riders" th:text="#{side-bar.admin.list-of-riders}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-equipment/snowboard" th:text="#{side-bar.admin.snowboard}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/snowboard-boots" th:text="#{side-bar.admin.snowboard-boots}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/ski" th:text="#{side-bar.admin.ski}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/ski-boots" th:text="#{side-bar.admin.ski-boots}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/helmet" th:text="#{side-bar.admin.helmet}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/jacket" th:text="#{side-bar.admin.jacket}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/gloves" th:text="#{side-bar.admin.gloves}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/pants" th:text="#{side-bar.admin.pants}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/protective-shorts" th:text="#{side-bar.admin.protective-shorts}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/knee-protection" th:text="#{side-bar.admin.knee-protection}"/>
        </button>
    </div>

    <div class="main-screen">

        <div class="content">
            <div class="new-edit">
                <!--Header-->
                <h1 th:text="#{booking.add-new.header}"/>

                <!--Input parameters-->
                <form th:method="POST"
                      th:action="@{/admin/info-booking/add-new}"
                      th:object="${newBooking}">
                    <table>
                        <tr>
                            <td th:text="#{booking.add-new.field.client} + ': '"/>
                            <td>
                                <label for="input-name"></label>
                                <input id="input-name"
                                       type="text" th:field="*{client.name}"
                                       th:placeholder="#{booking.add-new.field.client.placeholder}"/>
                                <div class="validation-message"
                                     th:if="${#fields.hasErrors('client.name')}" th:errors="*{client.name}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{booking.add-new.field.phone1} + ': '"/>
                            <td>
                                <label for="input-phone1"></label>
                                <input id="input-phone1"
                                       type="text" th:field="*{client.phone1}" placeholder="X(XXX)XXX-XX-XX"/>
                                <div class="validation-message"
                                     th:if="${#fields.hasErrors('client.phone1')}" th:errors="*{client.phone1}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{booking.add-new.field.phone2} + ': '"/>
                            <td>
                                <label for="input-phone2"></label>
                                <input id="input-phone2"
                                       type="text" th:field="*{client.phone2}" placeholder="X(XXX)XXX-XX-XX"/>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{booking.add-new.field.date-of-arrival} + ': '"/>
                            <td>
                                <label for="input-doa"></label>
                                <input id="input-doa" type="datetime-local" th:field="*{dateOfArrival}"/>
                                <div class="validation-message"
                                     th:if="${#fields.hasErrors('dateOfArrival')}" th:errors="*{dateOfArrival}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{booking.add-new.field.date-of-return} + ': '"/>
                            <td>
                                <label for="input-dor"></label>
                                <input id="input-dor" type="datetime-local" th:field="*{dateOfReturn}"/>
                                <div class="validation-message"
                                     th:if="${#fields.hasErrors('dateOfReturn')}" th:errors="*{dateOfReturn}">
                                </div>
                            </td>
                        </tr>
                    </table>

                    <br>

                    <input class="button" type="submit" th:value="#{booking.add-new.button.create}"/>
                </form>

                <br>

                <!--Return to "admin/info-booking"-->
                <a href="/admin/info-booking">
                    <button class="button" th:text="#{equipment.button.return}"/>
                </a>
            </div>
        </div>

    </div>

</div>

</body>

</html>