<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{bookings.title}"/>
    <link rel="stylesheet" th:href="@{${#themes.code('stylesheet')}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@350&display=swap"/>
</head>

<body>

<!--/*@thymesVar id="listOfBookings" type="java.util.List<my.project.skirentalshop.model.Booking>"*/-->
<!--/*@thymesVar id="allAvailableRidersForClient" type="java.util.List<my.project.skirentalshop.model.Client>"*/-->
<!--/*@thymesVar id="allAvailableSnowboards" type="java.util.List<my.project.skirentalshop.model.Equipment>"*/-->
<!--/*@thymesVar id="allAvailableSnowboardBoots" type="java.util.List<my.project.skirentalshop.model.Equipment>"*/-->
<!--/*@thymesVar id="allAvailableSki" type="java.util.List<my.project.skirentalshop.model.Equipment>"*/-->
<!--/*@thymesVar id="allAvailableSkiBoots" type="java.util.List<my.project.skirentalshop.model.Equipment>"*/-->
<!--/*@thymesVar id="allAvailableHelmets" type="java.util.List<my.project.skirentalshop.model.Equipment>"*/-->
<!--/*@thymesVar id="allAvailableJackets" type="java.util.List<my.project.skirentalshop.model.Equipment>"*/-->
<!--/*@thymesVar id="allAvailableGloves" type="java.util.List<my.project.skirentalshop.model.Equipment>"*/-->
<!--/*@thymesVar id="allAvailablePants" type="java.util.List<my.project.skirentalshop.model.Equipment>"*/-->
<!--/*@thymesVar id="allAvailableProtectiveShorts" type="java.util.List<my.project.skirentalshop.model.Equipment>"*/-->
<!--/*@thymesVar id="allAvailableKneeProtection" type="java.util.List<my.project.skirentalshop.model.Equipment>"*/-->
<!--/*@thymesVar id="booking" type="my.project.skirentalshop.model.Booking"*/-->
<!--/*@thymesVar id="existingRiderToBeAddedId" type="java.lang.Long"*/-->
<!--/*@thymesVar id="action" type="java.lang.String"*/-->
<!--/*@thymesVar id="search" type="java.lang.String"*/-->
<!--/*@thymesVar id="reverseSortDirection" type="java.lang.String"*/-->
<!--/*@thymesVar id="bookingId" type="java.lang.String"*/-->

<div class="header">
    <nav class="top-nav">
        <ul class="top-nav-items">
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.account}"/>
                <div class="dropdown-content">
                    <a href="/sign-out" th:text="#{top-nav.sign-out}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.theme}"/>
                <div class="dropdown-content">
                    <a th:href="@{${action == 'showAll' ? '?' : ''} +
                                  ${action == 'search'  ? 'search?search=' + search + '&' : ''} +
                                  ${action == 'create'  ? '?' : ''} +
                                  ${action == 'update'  ? '?' : ''} +
                                                                                                       'theme=theme_1'}"
                       th:text="#{top-nav.theme.theme-1}"/>
                    <a th:href="@{${action == 'showAll' ? '?' : ''} +
                                  ${action == 'search'  ? 'search?search=' + search + '&' : ''} +
                                  ${action == 'create'  ? '?' : ''} +
                                  ${action == 'update'  ? '?' : ''} +
                                                                                                       'theme=theme_2'}"
                       th:text="#{top-nav.theme.theme-2}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.lang}"/>
                <div class="dropdown-content">
                    <a th:href="@{${action == 'showAll' ? '?' : ''} +
                                  ${action == 'search'  ? 'search?search=' + search + '&' : ''} +
                                  ${action == 'create'  ? '?' : ''} +
                                  ${action == 'update'  ? '?' : ''} +
                                                                                                 'lang=en'}">English</a>
                    <a th:href="@{${action == 'showAll' ? '?' : ''} +
                                  ${action == 'search'  ? 'search?search=' + search + '&' : ''} +
                                  ${action == 'create'  ? '?' : ''} +
                                  ${action == 'update'  ? '?' : ''} +
                                                                                                 'lang=ru'}">Русский</a>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div class="main">

    <div class="sidebar">
        <button type="button">
            <a href="/admin" th:text="#{side-bar.admin.home}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/bookings/new" th:text="#{side-bar.admin.new-booking}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/bookings-today" th:text="#{side-bar.admin.today-bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/bookings-tomorrow" th:text="#{side-bar.admin.tomorrow-bookings}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/bookings" th:text="#{side-bar.admin.list-of-bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/clients" th:text="#{side-bar.admin.list-of-clients}"/>
        </button>
        <button type="button">
            <a href="/admin/riders" th:text="#{side-bar.admin.list-of-riders}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/equipment/snowboards" th:text="#{side-bar.admin.snowboard}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/snowboard-boots" th:text="#{side-bar.admin.snowboard-boots}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/ski" th:text="#{side-bar.admin.ski}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/ski-boots" th:text="#{side-bar.admin.ski-boots}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/helmets" th:text="#{side-bar.admin.helmet}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/jackets" th:text="#{side-bar.admin.jacket}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/gloves" th:text="#{side-bar.admin.gloves}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/pants" th:text="#{side-bar.admin.pants}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/protective-shorts" th:text="#{side-bar.admin.protective-shorts}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/knee-protection" th:text="#{side-bar.admin.knee-protection}"/>
        </button>
    </div>

    <div class="main-screen">

        <div class="content">

            <div th:if="${action == 'showAll' || action == 'search'}" class="table">

                <!--Header-->
                <h1 th:if="${action == 'showAll'}" th:text="#{bookings.header.show-all}"/>
                <h1 th:if="${action == 'search'}" th:text="#{bookings.header.search}"/>

                <!--Search-->
                <form th:method="GET"
                      th:action="@{/admin/bookings/search}">
                    <label for="input-search"></label>
                    <input id="input-search" style="width:200px"
                           type="text" th:name="search"
                           th:value="${search}" th:placeholder="#{bookings.button.search.placeholder}"/>
                    <input class="button" type="submit" th:value="#{bookings.button.search}"/>
                </form>

                <br>

                <!--Table-->
                <table>
                    <tr>
                        <!-- id -->
                        <th>
                            <a th:if="${action == 'search'}" th:text="#{bookings.parameter.id}"/>
                            <a th:if="${action == 'showAll'}" th:text="#{bookings.parameter.id}"
                               th:href="@{'/admin/bookings/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"/>
                        </th>
                        <!-- client -->
                        <th>
                            <a th:if="${action == 'search'}" th:text="#{bookings.parameter.client}"/>
                            <a th:if="${action == 'showAll'}" th:text="#{bookings.parameter.client}"
                               th:href="@{'/admin/bookings/sort?parameter=name&sortDirection=' + ${reverseSortDirection}}"/>
                        </th>
                        <!-- phone1 -->
                        <th><a th:text="#{bookings.parameter.phone1}"/></th>
                        <!-- phone2 -->
                        <th><a th:text="#{bookings.parameter.phone2}"/></th>
                        <!-- date of arrival -->
                        <th>
                            <a th:if="${action == 'search'}" th:text="#{bookings.parameter.date-of-arrival}"/>
                            <a th:if="${action == 'showAll'}" th:text="#{bookings.parameter.date-of-arrival}"
                               th:href="@{'/admin/bookings/sort?parameter=dateOfArrival&sortDirection=' + ${reverseSortDirection}}"/>
                        </th>
                        <!-- date of return -->
                        <th>
                            <a th:if="${action == 'search'}" th:text="#{bookings.parameter.date-of-return}"/>
                            <a th:if="${action == 'showAll'}" th:text="#{bookings.parameter.date-of-return}"
                               th:href="@{'/admin/bookings/sort?parameter=dateOfReturn&sortDirection=' + ${reverseSortDirection}}"/>
                            <!-- number of riders -->
                        </th>
                        <th><a th:text="#{bookings.parameter.number-of-riders}"/></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="oneBooking : ${listOfBookings}">
                        <td th:text="${oneBooking.id}"/>
                        <td th:text="${oneBooking.client.name}" th:align="left"/>
                        <td th:text="${oneBooking.client.phone1}"/>
                        <td th:text="${oneBooking.client.phone2}"/>
                        <td th:text="${#dates.format(oneBooking.dateOfArrival, 'dd MMM yyyy HH:mm')}"/>
                        <td th:text="${#dates.format(oneBooking.dateOfReturn, 'dd MMM yyyy HH:mm')}"/>
                        <td th:text="${oneBooking.listOfBookingRiderEquipmentLinks.size}"/>
                        <td></td>
                        <td th:width="1">
                            <form th:method="GET"
                                  th:action="@{'/admin/bookings/' + ${oneBooking.id} + '/change-completed' }">
                                <span th:if="${oneBooking.completed == false}">
                                    <input class="button" type="submit" th:value="#{bookings.button.mark-completed}"/>
                                </span>
                                <span th:if="${oneBooking.completed == true}">
                                    <input class="button" type="submit" th:value="#{bookings.button.mark-uncompleted}"/>
                                </span>
                            </form>
                        </td>
                        <td th:width="1">
                            <form th:method="GET" th:action="@{'/admin/bookings/' + ${oneBooking.id}}">
                                <input class="button" type="submit" th:value="#{bookings.button.edit-booking}"/>
                            </form>
                        </td>
                        <td th:width="1">
                            <form th:method="DELETE" th:action="@{'/admin/bookings/' + ${oneBooking.id}}">
                                <input class="button" type="submit" th:value="#{bookings.button.delete}"/>
                            </form>
                        </td>
                    </tr>
                </table>

                <br>

                <!--Go to "add-new"-->
                <div th:if="${action == 'showAll'}">
                    <a href="/admin/bookings/new">
                        <button class="button" th:text="#{bookings.button.add-booking}"/>
                    </a>
                </div>

                <!--Return to "show-all"-->
                <div th:if="${action == 'search'}">
                    <a href="/admin/bookings">
                        <button class="button" th:text="#{bookings.button.return}"/>
                    </a>
                </div>

            </div>

            <div th:if="${action == 'create' || action == 'update'}"
                 th:class="${action == 'create' ? 'new-edit' :
                            (action == 'update' ? 'booking-edit' : '')}">

                <!--Header-->
                <h1 th:if="${action == 'create'}" th:text="#{bookings.header.add-new}"/>
                <h1 th:if="${action == 'update'}" th:text="#{bookings.header.edit}"/>

                <!--Add new / Edit Booking-->
                <div th:class="${action == 'update' ? 'booking-edit-booking' : ''}">
                    <!--Input parameters-->
                    <form th:method="${action == 'create'} ? POST :
                                    (${action == 'update'} ? PATCH : '')"
                          th:action="@{'/admin/bookings' + ${action == 'create' ? '' : ''}
                                                         + ${action == 'update' ? '/' + bookingId : ''}}"
                          th:object="${booking}">
                        <table>
                            <!-- id -->
                            <tr th:if="${action == 'update'}">
                                <td th:text="#{bookings.parameter.id} + ': '"/>
                                <td th:text="*{id}"/>
                            </tr>
                            <!-- client -->
                            <tr>
                                <td th:text="#{bookings.parameter.client} + ': '"/>
                                <td>
                                    <label for="input-name"></label>
                                    <input id="input-name" type="text" th:field="*{client.name}"
                                           th:placeholder="#{bookings.parameter.client.placeholder}"/>
                                    <div class="validation-message"
                                         th:if="${#fields.hasErrors('client.name')}" th:errors="*{client.name}">
                                    </div>
                                </td>
                            </tr>
                            <!-- phone1 -->
                            <tr>
                                <td th:text="#{bookings.parameter.phone1} + ': '"/>
                                <td>
                                    <label for="input-phone1"></label>
                                    <input id="input-phone1"
                                           type="text" th:field="*{client.phone1}" placeholder="X(XXX)XXX-XX-XX"/>
                                    <div class="validation-message"
                                         th:if="${#fields.hasErrors('client.phone1')}" th:errors="*{client.phone1}">
                                    </div>
                                </td>
                            </tr>
                            <!-- phone2 -->
                            <tr>
                                <td th:text="#{bookings.parameter.phone2} + ': '"/>
                                <td>
                                    <label for="input-phone2"></label>
                                    <input id="input-phone2"
                                           type="text" th:field="*{client.phone2}" placeholder="X(XXX)XXX-XX-XX"/>
                                </td>
                            </tr>
                            <!-- date of arrival -->
                            <tr>
                                <td th:text="#{bookings.parameter.date-of-arrival} + ': '"/>
                                <td>
                                    <label for="input-doa"></label>
                                    <input id="input-doa" type="datetime-local" th:field="*{dateOfArrival}"/>
                                    <div class="validation-message"
                                         th:if="${#fields.hasErrors('dateOfArrival')}" th:errors="*{dateOfArrival}">
                                    </div>
                                </td>
                            </tr>
                            <!-- date of return -->
                            <tr>
                                <td th:text="#{bookings.parameter.date-of-return} + ': '"/>
                                <td>
                                    <label for="input-dor"></label>
                                    <input id="input-dor" type="datetime-local" th:field="*{dateOfReturn}"/>
                                    <div class="validation-message"
                                         th:if="${#fields.hasErrors('dateOfReturn')}"
                                         th:errors="*{dateOfReturn}">
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <br>

                        <!-- Submit button -->
                        <div>
                            <input th:if="${action == 'create'}"
                                   class="button" type="submit" th:value="#{bookings.button.add-rider}"/>
                            <input th:if="${action == 'update'}"
                                   class="button" type="submit" th:value="#{bookings.button.save}"/>
                        </div>

                        <br>
                    </form>
                </div>

                <!--Edit list of riders-->
                <div th:if="${action == 'update'}" class="booking-edit-rider">
                    <div th:if="${booking.listOfBookingRiderEquipmentLinks.size > 0}">
                        <table>
                            <tr th:each="oneLink : ${booking.listOfBookingRiderEquipmentLinks}">
                                <td th:text="${oneLink.rider.id}" style="vertical-align:top" th:width="1"/>
                                <td style="vertical-align:top" th:align="left">
                                    <div th:text="#{bookings.parameter.client} + ': ' + ${oneLink.rider.name}"/>
                                    <div th:text="#{riders.parameter.sex} + ': ' + #{${'riders.sex.' + oneLink.rider.sex}}"/>
                                    <div th:text="#{riders.parameter.height} + ': ' + ${oneLink.rider.height}"/>
                                    <div th:text="#{riders.parameter.weight} + ': ' + ${oneLink.rider.weight}"/>
                                    <div th:text="#{riders.parameter.foot-size} + ': ' + #{${'equipment.foot-size.' + oneLink.rider.footSize}}"/>
                                </td>
                                <td th:width="190" th:align="left">
                                    <div th:each="oneEquipment : ${oneLink.riderRequestedEquipment}">
                                        <div th:text="#{'equipment.type.' + ${oneEquipment.name}}"/>
                                    </div>
                                </td>
                                <form th:method="PATCH"
                                      th:action="@{'/admin/bookings/' + ${bookingId} + '/rider-assigned-equipment/' + ${oneLink.rider.id}}"
                                      th:object="${oneLink.riderAssignedEquipment}">
                                    <td th:width="10" style="vertical-align:center" th:align="left">
                                        <div th:each="oneEquipment : ${oneLink.riderRequestedEquipment}">
                                            <div th:if="${oneEquipment.name} == SNOWBOARD">
                                                <label for="select-snowboard"></label>
                                                <select name="snowboard" id="select-snowboard" style="width:300px">
                                                    <option th:if="${oneLink.riderAssignedEquipment.snowboard.id} == null"
                                                            value="" th:disabled="false"
                                                            th:selected="selected">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.snowboard.id} == null"
                                                            th:each="oneSnowboard : ${allAvailableSnowboards}"
                                                            th:value="${oneSnowboard.id}"
                                                            th:text="${oneSnowboard.size} + ' ' + ${oneSnowboard.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.snowboard.id} != null"
                                                            th:value="${oneLink.riderAssignedEquipment.snowboard.id}"
                                                            th:text="${oneLink.riderAssignedEquipment.snowboard.size} + ' ' + ${oneLink.riderAssignedEquipment.snowboard.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.snowboard.id} != null"
                                                            th:each="oneSnowboard : ${allAvailableSnowboards}"
                                                            th:value="${oneSnowboard.id}"
                                                            th:text="${oneSnowboard.size} + ' ' + ${oneSnowboard.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.snowboard.id} != null"
                                                            value="" th:disabled="false">
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:if="${oneEquipment.name} == SNOWBOARD_BOOTS">
                                                <label for="select-snowboard-boots"></label>
                                                <select name="snowboardBoots" id="select-snowboard-boots"
                                                        style="width:300px">
                                                    <option th:if="${oneLink.riderAssignedEquipment.snowboardBoots.id} == null"
                                                            value="" th:disabled="false"
                                                            th:selected="selected">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.snowboardBoots.id} == null"
                                                            th:each="oneSnowboardBoots : ${allAvailableSnowboardBoots}"
                                                            th:value="${oneSnowboardBoots.id}"
                                                            th:text="#{${'equipment.foot-size.' + oneSnowboardBoots.size}} + ' ' + ${oneSnowboardBoots.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.snowboardBoots.id} != null"
                                                            th:value="${oneLink.riderAssignedEquipment.snowboardBoots.id}"
                                                            th:text="#{${'equipment.foot-size.' + oneLink.riderAssignedEquipment.snowboardBoots.size}} + ' ' + ${oneLink.riderAssignedEquipment.snowboardBoots.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.snowboardBoots.id} != null"
                                                            th:each="oneSnowboardBoots : ${allAvailableSnowboardBoots}"
                                                            th:value="${oneSnowboardBoots.id}"
                                                            th:text="#{${'equipment.foot-size.' + oneSnowboardBoots.size}} + ' ' + ${oneSnowboardBoots.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.snowboardBoots.id} != null"
                                                            value="" th:disabled="false">
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:if="${oneEquipment.name} == SKI">
                                                <label for="select-ski"></label>
                                                <select name="ski" id="select-ski" style="width:300px">
                                                    <option th:if="${oneLink.riderAssignedEquipment.ski.id} == null"
                                                            value="" th:disabled="false"
                                                            th:selected="selected">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.ski.id} == null"
                                                            th:each="oneSki : ${allAvailableSki}"
                                                            th:value="${oneSki.id}"
                                                            th:text="${oneSki.size} + ' ' + ${oneSki.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.ski.id} != null"
                                                            th:value="${oneLink.riderAssignedEquipment.ski.id}"
                                                            th:text="${oneLink.riderAssignedEquipment.ski.size} + ' ' + ${oneLink.riderAssignedEquipment.ski.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.ski.id} != null"
                                                            th:each="oneSki : ${allAvailableSki}"
                                                            th:value="${oneSki.id}"
                                                            th:text="${oneSki.size} + ', ' + ${oneSki.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.ski.id} != null"
                                                            value="" th:disabled="false">
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:if="${oneEquipment.name} == SKI_BOOTS">
                                                <label for="select-ski-boots"></label>
                                                <select name="skiBoots" id="select-ski-boots" style="width:300px">
                                                    <option th:if="${oneLink.riderAssignedEquipment.skiBoots.id} == null"
                                                            value="" th:disabled="false"
                                                            th:selected="selected">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.skiBoots.id} == null"
                                                            th:each="oneSkiBoots : ${allAvailableSkiBoots}"
                                                            th:value="${oneSkiBoots.id}"
                                                            th:text="#{${'equipment.foot-size.' + oneSkiBoots.size}} + ' ' + ${oneSkiBoots.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.skiBoots.id} != null"
                                                            th:value="${oneLink.riderAssignedEquipment.skiBoots.id}"
                                                            th:text="#{${'equipment.foot-size.' + oneLink.riderAssignedEquipment.skiBoots.size}} + ' ' + ${oneLink.riderAssignedEquipment.skiBoots.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.skiBoots.id} != null"
                                                            th:each="oneSkiBoots : ${allAvailableSkiBoots}"
                                                            th:value="${oneSkiBoots.id}"
                                                            th:text="#{${'equipment.foot-size.' + oneSkiBoots.size}} + ' ' + ${oneSkiBoots.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.skiBoots.id} != null"
                                                            value="" th:disabled="false">
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:if="${oneEquipment.name} == JACKET">
                                                <label for="select-jacket"></label>
                                                <select name="jacket" id="select-jacket" style="width:300px">
                                                    <option th:if="${oneLink.riderAssignedEquipment.jacket.id} == null"
                                                            value="" th:disabled="false"
                                                            th:selected="selected">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.jacket.id} == null"
                                                            th:each="oneJacket : ${allAvailableJackets}"
                                                            th:value="${oneJacket.id}"
                                                            th:text="${oneJacket.size} + ' ' + ${oneJacket.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.jacket.id} != null"
                                                            th:value="${oneLink.riderAssignedEquipment.jacket.id}"
                                                            th:text="${oneLink.riderAssignedEquipment.jacket.size} + ' ' + ${oneLink.riderAssignedEquipment.jacket.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.jacket.id} != null"
                                                            th:each="oneJacket : ${allAvailableJackets}"
                                                            th:value="${oneJacket.id}"
                                                            th:text="${oneJacket.size} + ' ' + ${oneJacket.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.jacket.id} != null"
                                                            value="" th:disabled="false">
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:if="${oneEquipment.name} == KNEE_PROTECTION">
                                                <label for="select-knee-protection"></label>
                                                <select name="kneeProtection" id="select-knee-protection"
                                                        style="width:300px">
                                                    <option th:if="${oneLink.riderAssignedEquipment.kneeProtection.id} == null"
                                                            value="" th:disabled="false"
                                                            th:selected="selected">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.kneeProtection.id} == null"
                                                            th:each="oneKneeProtection : ${allAvailableKneeProtection}"
                                                            th:value="${oneKneeProtection.id}"
                                                            th:text="${oneKneeProtection.size} + ' ' + ${oneKneeProtection.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.kneeProtection.id} != null"
                                                            th:value="${oneLink.riderAssignedEquipment.kneeProtection.id}"
                                                            th:text="${oneLink.riderAssignedEquipment.kneeProtection.size} + ' ' + ${oneLink.riderAssignedEquipment.kneeProtection.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.kneeProtection.id} != null"
                                                            th:each="oneKneeProtection : ${allAvailableKneeProtection}"
                                                            th:value="${oneKneeProtection.id}"
                                                            th:text="${oneKneeProtection.size} + ' ' + ${oneKneeProtection.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.kneeProtection.id} != null"
                                                            value="" th:disabled="false">
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:if="${oneEquipment.name} == PROTECTIVE_SHORTS">
                                                <label for="select-protective-shorts"></label>
                                                <select name="protectiveShorts" id="select-protective-shorts"
                                                        style="width:300px">
                                                    <option th:if="${oneLink.riderAssignedEquipment.protectiveShorts.id} == null"
                                                            value="" th:disabled="false"
                                                            th:selected="selected">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.protectiveShorts.id} == null"
                                                            th:each="oneProtectiveShorts : ${allAvailableProtectiveShorts}"
                                                            th:value="${oneProtectiveShorts.id}"
                                                            th:text="${oneProtectiveShorts.size} + ' ' + ${oneProtectiveShorts.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.protectiveShorts.id} != null"
                                                            th:value="${oneLink.riderAssignedEquipment.protectiveShorts.id}"
                                                            th:text="${oneLink.riderAssignedEquipment.protectiveShorts.size} + ' ' + ${oneLink.riderAssignedEquipment.protectiveShorts.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.protectiveShorts.id} != null"
                                                            th:each="oneProtectiveShorts : ${allAvailableProtectiveShorts}"
                                                            th:value="${oneProtectiveShorts.id}"
                                                            th:text="${oneProtectiveShorts.size} + ' ' + ${oneProtectiveShorts.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.protectiveShorts.id} != null"
                                                            value="" th:disabled="false">
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:if="${oneEquipment.name} == HELMET">
                                                <label for="select-helmet"></label>
                                                <select name="helmet" id="select-helmet" style="width:300px">
                                                    <option th:if="${oneLink.riderAssignedEquipment.helmet.id} == null"
                                                            value="" th:disabled="false"
                                                            th:selected="selected">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.helmet.id} == null"
                                                            th:each="oneHelmet : ${allAvailableHelmets}"
                                                            th:value="${oneHelmet.id}"
                                                            th:text="${oneHelmet.size} + ' ' + ${oneHelmet.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.helmet.id} != null"
                                                            th:value="${oneLink.riderAssignedEquipment.helmet.id}"
                                                            th:text="${oneLink.riderAssignedEquipment.helmet.size} + ' ' + ${oneLink.riderAssignedEquipment.helmet.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.helmet.id} != null"
                                                            th:each="oneHelmet : ${allAvailableHelmets}"
                                                            th:value="${oneHelmet.id}"
                                                            th:text="${oneHelmet.size} + ' ' + ${oneHelmet.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.helmet.id} != null"
                                                            value="" th:disabled="false">
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:if="${oneEquipment.name} == GLOVES">
                                                <label for="select-gloves"></label>
                                                <select name="gloves" id="select-gloves" style="width:300px">
                                                    <option th:if="${oneLink.riderAssignedEquipment.gloves.id} == null"
                                                            value="" th:disabled="false"
                                                            th:selected="selected">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.gloves.id} == null"
                                                            th:each="oneGloves : ${allAvailableGloves}"
                                                            th:value="${oneGloves.id}"
                                                            th:text="${oneGloves.size} + ' ' + ${oneGloves.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.gloves.id} != null"
                                                            th:value="${oneLink.riderAssignedEquipment.gloves.id}"
                                                            th:text="${oneLink.riderAssignedEquipment.gloves.size} + ' ' + ${oneLink.riderAssignedEquipment.gloves.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.gloves.id} != null"
                                                            th:each="oneGloves : ${allAvailableGloves}"
                                                            th:value="${oneGloves.id}"
                                                            th:text="${oneGloves.size} + ' ' + ${oneGloves.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.gloves.id} != null"
                                                            value="" th:disabled="false">
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:if="${oneEquipment.name} == PANTS">
                                                <label for="select-pants"></label>
                                                <select name="pants" id="select-pants" style="width:300px">
                                                    <option th:if="${oneLink.riderAssignedEquipment.pants.id} == null"
                                                            value="" th:disabled="false"
                                                            th:selected="selected">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.pants.id} == null"
                                                            th:each="onePants : ${allAvailablePants}"
                                                            th:value="${onePants.id}"
                                                            th:text="${onePants.size} + ' ' + ${onePants.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.pants.id} != null"
                                                            th:value="${oneLink.riderAssignedEquipment.pants.id}"
                                                            th:text="${oneLink.riderAssignedEquipment.pants.size} + ' ' + ${oneLink.riderAssignedEquipment.pants.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.pants.id} != null"
                                                            th:each="onePants : ${allAvailablePants}"
                                                            th:value="${onePants.id}"
                                                            th:text="${onePants.size} + ' ' + ${onePants.name}">
                                                    </option>
                                                    <option th:if="${oneLink.riderAssignedEquipment.pants.id} != null"
                                                            value="" th:disabled="false">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                    <td th:width="10" style="vertical-align:center">
                                        <input class="button" type="submit"
                                               th:value="#{bookings.button.assign-equipment}"/>
                                    </td>
                                </form>
                                <td th:width="10">
                                    <a th:href="'/admin/riders/' + ${oneLink.rider.id} + '?bookingId=' + ${booking.id}">
                                        <button class="button" th:text="#{bookings.button.edit-rider}"/>
                                    </a>
                                </td>
                                <td th:width="10">
                                    <a th:href="@{'/admin/bookings/' + ${booking.id} + '/remove-rider/' + ${oneLink.rider.id}}">
                                        <button class="button" th:text="#{bookings.button.remove-rider}"/>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div th:unless="${booking.listOfBookingRiderEquipmentLinks.size > 0}"
                         th:text="#{bookings.empty-table}"/>
                    <br>
                </div>

                <!--Add new rider-->
                <div th:if="${action == 'update'}">
                    <a th:href="@{'/admin/riders/new?bookingId=' + ${booking.id}}">
                        <button class="button" th:text="#{bookings.button.add-new-rider}"/>
                    </a>

                    <br><br>
                </div>

                <!--Return to "show-all"-->
                <a href="/admin/bookings">
                    <button class="button" th:text="#{bookings.button.return}"/>
                </a>

            </div>

        </div>

    </div>

</div>

</body>

</html>