<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{booking.edit.title}"/>
    <link rel="stylesheet" th:href="@{${#themes.code('afterAuthentication')}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@350&display=swap"/>
</head>

<body>

<div class="header">
    <nav class="top-nav">
        <ul class="top-nav-items">
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.account}"/>
                <div class="dropdown-content">
                    <a href="/sign-out" th:text="#{top_nav.sign_out}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.theme}"/>
                <div class="dropdown-content">
                    <a th:href="'/admin/info-booking/edit/' + ${id} + '?theme=theme_1'"
                       th:text="#{top_nav.theme.theme_1}"/>
                    <a th:href="'/admin/info-booking/edit/' + ${id} + '?theme=theme_2'"
                       th:text="#{top_nav.theme.theme_2}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.lang}"/>
                <div class="dropdown-content">
                    <a th:href="'/admin/info-booking/edit/' + ${id} + '?lang=en'">English</a>
                    <a th:href="'/admin/info-booking/edit/' + ${id} + '?lang=ru'">Russian</a>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div class="main">

    <div class="sidebar">
        <button type="button">
            <a href="/admin" th:text="#{side_bar.admin.home}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-booking/add-new" th:text="#{side_bar.admin.new_booking}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/show-today" th:text="#{side_bar.admin.today_bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/show-tomorrow" th:text="#{side_bar.admin.tomorrow_bookings}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-booking" th:text="#{side_bar.admin.list_of_bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/info-clients" th:text="#{side_bar.admin.list_of_clients}"/>
        </button>
        <button type="button">
            <a href="/admin/info-riders" th:text="#{side_bar.admin.list_of_riders}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-equipment/snowboard" th:text="#{side_bar.admin.snowboard}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/snowboard-boots" th:text="#{side_bar.admin.snowboard_boots}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/ski" th:text="#{side_bar.admin.ski}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/ski-boots" th:text="#{side_bar.admin.ski_boots}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/helmet" th:text="#{side_bar.admin.helmet}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/jacket" th:text="#{side_bar.admin.jacket}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/gloves" th:text="#{side_bar.admin.gloves}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/pants" th:text="#{side_bar.admin.pants}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/protective-shorts" th:text="#{side_bar.admin.protective_shorts}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/knee-protection" th:text="#{side_bar.admin.knee_protection}"/>
        </button>
    </div>

    <div class="main-screen">

        <div class="content">
            <div class="booking-edit">

                <!--Edit Booking-->
                <div class="booking-edit-booking">
                    <h1 th:text="#{booking.edit.header}"/>

                    <form th:method="PATCH"
                          th:action="@{/admin/info-booking/edit/{id}(id=${id})}"
                          th:object="${bookingToBeUpdated}">
                        <table>
                            <tr>
                                <td th:text="#{booking.edit.field.id} + ': '"/>
                                <td th:text="${id}"/>
                            </tr>
                            <tr>
                                <td th:text="#{booking.edit.field.client} + ': '"/>
                                <td>
                                    <label for="input-surname"></label>
                                    <input type="text" id="input-surname" th:field="*{client.surname}"
                                           th:placeholder="#{booking.edit.field.client.placeholder}"/>
                                    <div class="validation-message"
                                         th:if="${#fields.hasErrors('client.surname')}" th:errors="*{client.surname}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td th:text="#{booking.edit.field.phone1} + ': '"/>
                                <td>
                                    <label for="input-phone1"></label>
                                    <input id="input-phone1"
                                           type="text" th:field="*{client.phone1}" placeholder="X(XXX)XXX-XX-XX"/>
                                    <div class="validation-message"
                                         th:if="${#fields.hasErrors('client.phone1')}" th:errors="*{client.phone1}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td th:text="#{booking.edit.field.phone2} + ': '"/>
                                <td>
                                    <label for="input-phone2"></label>
                                    <input id="input-phone2"
                                           type="text" th:field="*{client.phone2}" placeholder="X(XXX)XXX-XX-XX"/>
                                </td>
                            </tr>
                            <tr>
                                <td th:text="#{booking.edit.field.date_of_arrival} + ': '"/>
                                <td>
                                    <label for="input-doa"></label>
                                    <input id="input-doa" type="datetime-local" th:field="*{dateOfArrival}"/>
                                    <div class="validation-message"
                                         th:if="${#fields.hasErrors('dateOfArrival')}" th:errors="*{dateOfArrival}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td th:text="#{booking.edit.field.date_of_return} + ': '"/>
                                <td>
                                    <label for="input-dor"></label>
                                    <input id="input-dor" type="datetime-local" th:field="*{dateOfReturn}"/>
                                    <div class="validation-message"
                                         th:if="${#fields.hasErrors('dateOfReturn')}" th:errors="*{dateOfReturn}">
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <br>

                        <input class="button" type="submit" th:value="#{booking.edit.button.save}"/>
                    </form>
                </div>

                <br>

                <!--Edit list of riders-->
                <div class="booking-edit-rider">
                    <div th:if="${bookingToBeUpdated.listOfRiders.size > 0}">
                        <table>
                            <tr th:each="oneRider : ${bookingToBeUpdated.listOfRiders}">
                                <td th:text="${oneRider.id}" style="vertical-align:top"/>
                                <td style="vertical-align:top" th:align="left">     <!-- TODO: remove styling -->
                                    <div th:text="#{booking.edit.table.header.name} + ': ' + ${oneRider.name}"/>
                                    <div th:text="#{booking.edit.table.header.sex} + ': ' + #{${'rider.sex.' + oneRider.sex}}"/>
                                    <div th:text="#{booking.edit.table.header.height} + ': ' + ${oneRider.height}"/>
                                    <div th:text="#{booking.edit.table.header.weight} + ': ' + ${oneRider.weight}"/>
                                    <div th:text="#{booking.edit.table.header.foot} + ': ' + #{${'rider.size.' + oneRider.footSize}}"/>
                                </td>
                                <td th:width="190" th:align="left">
                                    <div th:each="oneEquipmentId : ${oneRider.equipmentNeededIds}">
                                        <div th:text="#{'equipment.type.' + ${oneEquipmentId.name}}"/>
                                    </div>
                                </td>
                                <form th:method="PATCH"
                                      th:action="@{'/admin/info-booking/edit/assign-equipment?bid=' + ${id} + '&rid=' + ${oneRider.id}}"
                                      th:object="${oneRider.assignedEquipment}">
                                    <td th:width="10" style="vertical-align:center" th:align="left">
                                        <div th:each="oneEquipmentId : ${oneRider.equipmentNeededIds}">
                                            <div th:if="${oneEquipmentId.name} == SNOWBOARD">
                                                <label for="select-snowboard"></label>
                                                <select name="snowboard" id="select-snowboard" style="width:300px">
                                                    <option th:if="${oneRider.assignedEquipment.snowboard.id} == null"
                                                            value="" th:disabled="false"
                                                            th:selected="selected">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.snowboard.id} == null"
                                                            th:each="oneSnowboard : ${allSnowboardsAvailable}"
                                                            th:value="${oneSnowboard.id}"
                                                            th:text="${oneSnowboard.size} + ' ' + ${oneSnowboard.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.snowboard.id} != null"
                                                            th:value="${oneRider.assignedEquipment.snowboard.id}"
                                                            th:text="${oneRider.assignedEquipment.snowboard.size} + ' ' + ${oneRider.assignedEquipment.snowboard.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.snowboard.id} != null"
                                                            th:each="oneSnowboard : ${allSnowboardsAvailable}"
                                                            th:value="${oneSnowboard.id}"
                                                            th:text="${oneSnowboard.size} + ' ' + ${oneSnowboard.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.snowboard.id} != null"
                                                            value="" th:disabled="false">
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:if="${oneEquipmentId.name} == SNOWBOARD_BOOTS">
                                                <label for="select-snowboard-boots"></label>
                                                <select name="snowboardBoots" id="select-snowboard-boots"
                                                        style="width:300px">
                                                    <option th:if="${oneRider.assignedEquipment.snowboardBoots.id} == null"
                                                            value="" th:disabled="false"
                                                            th:selected="selected">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.snowboardBoots.id} == null"
                                                            th:each="oneSnowboardBoots : ${allSnowboardBootsAvailable}"
                                                            th:value="${oneSnowboardBoots.id}"
                                                            th:text="#{${'snowboard_boots.size.' + oneSnowboardBoots.size}} + ' ' + ${oneSnowboardBoots.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.snowboardBoots.id} != null"
                                                            th:value="${oneRider.assignedEquipment.snowboardBoots.id}"
                                                            th:text="#{${'snowboard_boots.size.' + oneRider.assignedEquipment.snowboardBoots.size}} + ' ' + ${oneRider.assignedEquipment.snowboardBoots.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.snowboardBoots.id} != null"
                                                            th:each="oneSnowboardBoots : ${allSnowboardBootsAvailable}"
                                                            th:value="${oneSnowboardBoots.id}"
                                                            th:text="#{${'snowboard_boots.size.' + oneSnowboardBoots.size}} + ' ' + ${oneSnowboardBoots.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.snowboardBoots.id} != null"
                                                            value="" th:disabled="false">
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:if="${oneEquipmentId.name} == SKI">
                                                <label for="select-ski"></label>
                                                <select name="ski" id="select-ski" style="width:300px">
                                                    <option th:if="${oneRider.assignedEquipment.ski.id} == null"
                                                            value="" th:disabled="false"
                                                            th:selected="selected">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.ski.id} == null"
                                                            th:each="oneSki : ${allSkiAvailable}"
                                                            th:value="${oneSki.id}"
                                                            th:text="${oneSki.size} + ' ' + ${oneSki.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.ski.id} != null"
                                                            th:value="${oneRider.assignedEquipment.ski.id}"
                                                            th:text="${oneRider.assignedEquipment.ski.size} + ' ' + ${oneRider.assignedEquipment.ski.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.ski.id} != null"
                                                            th:each="oneSki : ${allSkiAvailable}"
                                                            th:value="${oneSki.id}"
                                                            th:text="${oneSki.size} + ', ' + ${oneSki.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.ski.id} != null"
                                                            value="" th:disabled="false">
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:if="${oneEquipmentId.name} == SKI_BOOTS">
                                                <label for="select-ski-boots"></label>
                                                <select name="skiBoots" id="select-ski-boots" style="width:300px">
                                                    <option th:if="${oneRider.assignedEquipment.skiBoots.id} == null"
                                                            value="" th:disabled="false"
                                                            th:selected="selected">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.skiBoots.id} == null"
                                                            th:each="oneSkiBoots : ${allSkiBootsAvailable}"
                                                            th:value="${oneSkiBoots.id}"
                                                            th:text="#{${'ski_boots.size.' + oneSkiBoots.size}} + ' ' + ${oneSkiBoots.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.skiBoots.id} != null"
                                                            th:value="${oneRider.assignedEquipment.skiBoots.id}"
                                                            th:text="#{${'ski_boots.size.' + oneRider.assignedEquipment.skiBoots.size}} + ' ' + ${oneRider.assignedEquipment.skiBoots.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.skiBoots.id} != null"
                                                            th:each="oneSkiBoots : ${allSkiBootsAvailable}"
                                                            th:value="${oneSkiBoots.id}"
                                                            th:text="#{${'ski_boots.size.' + oneSkiBoots.size}} + ' ' + ${oneSkiBoots.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.skiBoots.id} != null"
                                                            value="" th:disabled="false">
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:if="${oneEquipmentId.name} == JACKET">
                                                <label for="select-jacket"></label>
                                                <select name="jacket" id="select-jacket" style="width:300px">
                                                    <option th:if="${oneRider.assignedEquipment.jacket.id} == null"
                                                            value="" th:disabled="false"
                                                            th:selected="selected">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.jacket.id} == null"
                                                            th:each="oneJacket : ${allJacketsAvailable}"
                                                            th:value="${oneJacket.id}"
                                                            th:text="${oneJacket.size} + ' ' + ${oneJacket.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.jacket.id} != null"
                                                            th:value="${oneRider.assignedEquipment.jacket.id}"
                                                            th:text="${oneRider.assignedEquipment.jacket.size} + ' ' + ${oneRider.assignedEquipment.jacket.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.jacket.id} != null"
                                                            th:each="oneJacket : ${allJacketsAvailable}"
                                                            th:value="${oneJacket.id}"
                                                            th:text="${oneJacket.size} + ' ' + ${oneJacket.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.jacket.id} != null"
                                                            value="" th:disabled="false">
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:if="${oneEquipmentId.name} == KNEE_PROTECTION">
                                                <label for="select-knee-protection"></label>
                                                <select name="kneeProtection" id="select-knee-protection"
                                                        style="width:300px">
                                                    <option th:if="${oneRider.assignedEquipment.kneeProtection.id} == null"
                                                            value="" th:disabled="false"
                                                            th:selected="selected">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.kneeProtection.id} == null"
                                                            th:each="oneKneeProtection : ${allKneeProtectionAvailable}"
                                                            th:value="${oneKneeProtection.id}"
                                                            th:text="${oneKneeProtection.size} + ' ' + ${oneKneeProtection.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.kneeProtection.id} != null"
                                                            th:value="${oneRider.assignedEquipment.kneeProtection.id}"
                                                            th:text="${oneRider.assignedEquipment.kneeProtection.size} + ' ' + ${oneRider.assignedEquipment.kneeProtection.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.kneeProtection.id} != null"
                                                            th:each="oneKneeProtection : ${allKneeProtectionAvailable}"
                                                            th:value="${oneKneeProtection.id}"
                                                            th:text="${oneKneeProtection.size} + ' ' + ${oneKneeProtection.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.kneeProtection.id} != null"
                                                            value="" th:disabled="false">
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:if="${oneEquipmentId.name} == PROTECTIVE_SHORTS">
                                                <label for="select-protective-shorts"></label>
                                                <select name="protectiveShorts" id="select-protective-shorts"
                                                        style="width:300px">
                                                    <option th:if="${oneRider.assignedEquipment.protectiveShorts.id} == null"
                                                            value="" th:disabled="false"
                                                            th:selected="selected">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.protectiveShorts.id} == null"
                                                            th:each="oneProtectiveShorts : ${allProtectiveShortsAvailable}"
                                                            th:value="${oneProtectiveShorts.id}"
                                                            th:text="${oneProtectiveShorts.size} + ' ' + ${oneProtectiveShorts.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.protectiveShorts.id} != null"
                                                            th:value="${oneRider.assignedEquipment.protectiveShorts.id}"
                                                            th:text="${oneRider.assignedEquipment.protectiveShorts.size} + ' ' + ${oneRider.assignedEquipment.protectiveShorts.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.protectiveShorts.id} != null"
                                                            th:each="oneProtectiveShorts : ${allProtectiveShortsAvailable}"
                                                            th:value="${oneProtectiveShorts.id}"
                                                            th:text="${oneProtectiveShorts.size} + ' ' + ${oneProtectiveShorts.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.protectiveShorts.id} != null"
                                                            value="" th:disabled="false">
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:if="${oneEquipmentId.name} == HELMET">
                                                <label for="select-helmet"></label>
                                                <select name="helmet" id="select-helmet" style="width:300px">
                                                    <option th:if="${oneRider.assignedEquipment.helmet.id} == null"
                                                            value="" th:disabled="false"
                                                            th:selected="selected">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.helmet.id} == null"
                                                            th:each="oneHelmet : ${allHelmetsAvailable}"
                                                            th:value="${oneHelmet.id}"
                                                            th:text="${oneHelmet.size} + ' ' + ${oneHelmet.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.helmet.id} != null"
                                                            th:value="${oneRider.assignedEquipment.helmet.id}"
                                                            th:text="${oneRider.assignedEquipment.helmet.size} + ' ' + ${oneRider.assignedEquipment.helmet.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.helmet.id} != null"
                                                            th:each="oneHelmet : ${allHelmetsAvailable}"
                                                            th:value="${oneHelmet.id}"
                                                            th:text="${oneHelmet.size} + ' ' + ${oneHelmet.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.helmet.id} != null"
                                                            value="" th:disabled="false">
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:if="${oneEquipmentId.name} == GLOVES">
                                                <label for="select-gloves"></label>
                                                <select name="gloves" id="select-gloves" style="width:300px">
                                                    <option th:if="${oneRider.assignedEquipment.gloves.id} == null"
                                                            value="" th:disabled="false"
                                                            th:selected="selected">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.gloves.id} == null"
                                                            th:each="oneGloves : ${allGlovesAvailable}"
                                                            th:value="${oneGloves.id}"
                                                            th:text="${oneGloves.size} + ' ' + ${oneGloves.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.gloves.id} != null"
                                                            th:value="${oneRider.assignedEquipment.gloves.id}"
                                                            th:text="${oneRider.assignedEquipment.gloves.size} + ' ' + ${oneRider.assignedEquipment.gloves.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.gloves.id} != null"
                                                            th:each="oneGloves : ${allGlovesAvailable}"
                                                            th:value="${oneGloves.id}"
                                                            th:text="${oneGloves.size} + ' ' + ${oneGloves.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.gloves.id} != null"
                                                            value="" th:disabled="false">
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:if="${oneEquipmentId.name} == PANTS">
                                                <label for="select-pants"></label>
                                                <select name="pants" id="select-pants" style="width:300px">
                                                    <option th:if="${oneRider.assignedEquipment.pants.id} == null"
                                                            value="" th:disabled="false"
                                                            th:selected="selected">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.pants.id} == null"
                                                            th:each="onePants : ${allPantsAvailable}"
                                                            th:value="${onePants.id}"
                                                            th:text="${onePants.size} + ' ' + ${onePants.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.pants.id} != null"
                                                            th:value="${oneRider.assignedEquipment.pants.id}"
                                                            th:text="${oneRider.assignedEquipment.pants.size} + ' ' + ${oneRider.assignedEquipment.pants.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.pants.id} != null"
                                                            th:each="onePants : ${allPantsAvailable}"
                                                            th:value="${onePants.id}"
                                                            th:text="${onePants.size} + ' ' + ${onePants.name}">
                                                    </option>
                                                    <option th:if="${oneRider.assignedEquipment.pants.id} != null"
                                                            value="" th:disabled="false">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                    <td th:width="10" style="vertical-align:center">
                                        <input class="button" type="submit"
                                               th:value="#{booking.edit.table.button.assign}"/>
                                    </td>
                                </form>
                                <td th:width="10">
                                    <a th:href="'/admin/info-riders/edit?id=' + ${oneRider.id} + '&bookingId=' + ${bookingToBeUpdated.id}">
                                        <button class="button" th:text="#{booking.edit.table.button.edit}"/>
                                    </a>
                                </td>
                                <td th:width="10">
                                    <a th:href="@{'/admin/info-booking/edit/remove?bid=' + ${bookingToBeUpdated.id} + '&rid=' + ${oneRider.id}}">
                                        <button class="button" th:text="#{booking.edit.table.button.remove}"/>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div th:unless="${bookingToBeUpdated.listOfRiders.size > 0}"
                         th:text="#{booking.edit.table.empty}"/>
                </div>

                <br>

                <!--Add existing Rider to Booking-->
                <div>
                    <form th:method="PATCH"
                          th:action="@{/admin/info-booking/edit/add-existing-rider/{id}(id=${bookingToBeUpdated.id})}"
                          th:object="${existingRiderToBeAddedId}">
                        <label for="select-existing-rider-id"></label>
                        <select id="select-existing-rider-id" name="existingRiderToBeAddedId">
                            <option th:each="oneRider : ${allRiders}"
                                    th:value="${oneRider.id}"
                                    th:text="${oneRider.name}">
                            </option>
                        </select>
                        <input class="button" type="submit" th:value="#{booking.edit.button.add_existing}"/>
                    </form>
                </div>

                <br>

                <!--Add new rider-->
                <div>
                    <a th:href="@{'/admin/info-riders/add-new?id=' + ${bookingToBeUpdated.id}}">
                        <button class="button" th:text="#{booking.edit.button.add_new}"/>
                    </a>
                </div>

                <br>

                <!--Return to "/admin/info-booking"-->
                <a href="/admin/info-booking">
                    <button class="button" th:text="#{booking.edit.button.return}"/>
                </a>
            </div>
        </div>

    </div>

</div>

</body>

</html>