<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{rider.add_new.title}"/>
    <link rel="stylesheet" th:href="@{${#themes.code('afterAuthentication')}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@350&display=swap"/>
</head>

<body>

<div class="header">
    <nav class="top-nav">
        <ul class="top-nav-items">
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.account}"/>
                <div class="dropdown-content">
                    <a href="/sign-out" th:text="#{top_nav.sign_out}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.theme}"/>
                <div class="dropdown-content">
                    <a href="/admin/info-riders/add-new?theme=theme_1" th:text="#{top_nav.theme.theme_1}"/>
                    <a href="/admin/info-riders/add-new?theme=theme_2" th:text="#{top_nav.theme.theme_2}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.lang}"/>
                <div class="dropdown-content">
                    <a href="/admin/info-riders/add-new?lang=en">English</a>
                    <a href="/admin/info-riders/add-new?lang=ru">Russian</a>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div class="main">

    <div class="sidebar">
        <button type="button">
            <a href="/admin" th:text="#{side_bar.admin.home}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-booking/add-new" th:text="#{side_bar.admin.new_booking}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/show-today" th:text="#{side_bar.admin.today_bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/show-tomorrow" th:text="#{side_bar.admin.tomorrow_bookings}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-booking" th:text="#{side_bar.admin.list_of_bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/info-clients" th:text="#{side_bar.admin.list_of_clients}"/>
        </button>
        <button type="button">
            <a href="/admin/info-riders" th:text="#{side_bar.admin.list_of_riders}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-equipment/snowboard" th:text="#{side_bar.admin.snowboard}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/snowboard-boots" th:text="#{side_bar.admin.snowboard_boots}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/ski" th:text="#{side_bar.admin.ski}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/ski-boots" th:text="#{side_bar.admin.ski_boots}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/helmet" th:text="#{side_bar.admin.helmet}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/jacket" th:text="#{side_bar.admin.jacket}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/gloves" th:text="#{side_bar.admin.gloves}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/pants" th:text="#{side_bar.admin.pants}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/protective-shorts" th:text="#{side_bar.admin.protective_shorts}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/knee-protection" th:text="#{side_bar.admin.knee_protection}"/>
        </button>
    </div>

    <div class="main-screen">

        <div class="content">
            <div class="new-edit">
                <!--Header-->
                <h1 th:text="#{rider.add_new.header}"/>

                <!--Input parameters-->
                <form th:method="POST"
                      th:action="${bookingId == null} ? '/admin/info-riders/add' : '/admin/info-riders/add?id=' + ${bookingId}"
                      th:object="${newRider}">
                    <table>
                        <tr>
                            <td th:text="#{rider.add_new.table.header.name} + ': '"/>
                            <td>
                                <label for="input-name"></label>
                                <input id="input-name" type="text"
                                       th:field="*{name}" th:placeholder="#{rider.add_new.table.header.name}"/>
                                <div class="validation-message"
                                     th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{rider.add_new.table.header.sex} + ': '"/>
                            <td>
                                <label for="select-sex"></label>
                                <select id="select-sex" name="sex">
                                    <option th:each="i : ${T(my.project.skirentalshop.model.Rider.Sex).values}"
                                            th:value="${i.name}"
                                            th:text="#{${'rider.sex.'+ i}}">
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{rider.add_new.table.header.height} + ': '"/>
                            <td>
                                <label for="input-height"></label>
                                <input id="input-height" type="text"
                                       th:field="*{height}" th:placeholder="#{rider.add_new.table.header.height}">
                                <div class="validation-message"
                                     th:if="${#fields.hasErrors('height')}" th:errors="*{height}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{rider.add_new.table.header.weight} + ': '"/>
                            <td>
                                <label for="input-weight"></label>
                                <input id="input-weight" type="text"
                                       th:field="*{weight}" th:placeholder="#{rider.add_new.table.header.weight}"/>
                                <div class="validation-message"
                                     th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{rider.add_new.table.header.foot} + ': '"/>
                            <td>
                                <label for="select-foot-size"></label>
                                <select id="select-foot-size" name="footSize">
                                    <option th:each="i : ${T(my.project.skirentalshop.model.Rider.Size).values}"
                                            th:value="${i.name}"
                                            th:text="#{${'rider.size.' + i}}">
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td th:align="top" th:text="#{rider.add_new.table.header.equipment} + ': '"/>
                            <td>
                                <div th:each="i : ${T(my.project.skirentalshop.model.TypesOfEquipment).values}">
                                    <label for="input-equipment"></label>
                                    <input id="input-equipment"
                                           type="checkbox"
                                           th:field="*{equipmentNeededIds}"
                                           th:value="${i.name}"/>
                                    <span th:text="#{${'equipment.type.' + i}}"/>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <br>

                    <input class="button" type="submit" th:value="#{rider.add_new.button.create}"/>
                </form>

                <br>

                <!--Return to booking-->
                <div th:if="${bookingId != null}">
                    <form th:method="GET"
                          th:action="@{/admin/info-booking/edit/{id}(id=${bookingId})}">
                        <input class="button" type="submit" th:value="#{rider.add_new.button.go_to_order}"/>
                    </form>

                    <br>

                    <form th:method="GET"
                          th:action="@{/admin/info-booking}">
                        <input class="button" type="submit" th:value="#{rider.add_new.button.go_to_bookings}"/>
                    </form>
                </div>
                <div th:if="${bookingId == null}">
                    <form th:method="GET"
                          th:action="@{/admin/info-riders}">
                        <input class="button" type="submit" th:value="#{rider.add_new.button.return}"/>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

</body>

</html>