<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{${typeOfEquipment.namePlural + '.title'}}"/>
    <link rel="stylesheet" th:href="@{${#themes.code('stylesheet')}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@350&display=swap"/>
</head>

<body>

<div class="header">
    <nav class="top-nav">
        <ul class="top-nav-items">
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.account}"/>
                <div class="dropdown-content">
                    <a href="/sign-out" th:text="#{top-nav.sign-out}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.theme}"/>
                <div class="dropdown-content">
                    <a th:href="@{${action == 'showAll' ? '?' : ''} +
                                  ${action == 'search'  ? 'search?search=' + search + '&' : ''} +
                                  ${action == 'create'  ? '?' : ''} +
                                  ${action == 'update'  ? '?' : ''} +
                                                                                                       'theme=theme_1'}"
                       th:text="#{top-nav.theme.theme-1}"/>
                    <a th:href="@{${action == 'showAll' ? '?' : ''} +
                                  ${action == 'search'  ? 'search?search=' + search + '&' : ''} +
                                  ${action == 'create'  ? '?' : ''} +
                                  ${action == 'update'  ? '?' : ''} +
                                                                                                       'theme=theme_2'}"
                       th:text="#{top-nav.theme.theme-2}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.lang}"/>
                <div class="dropdown-content">
                    <a th:href="@{${action == 'showAll' ? '?' : ''} +
                                  ${action == 'search'  ? 'search?search=' + search + '&' : ''} +
                                  ${action == 'create'  ? '?' : ''} +
                                  ${action == 'update'  ? '?' : ''} +
                                                                                                 'lang=en'}">English</a>
                    <a th:href="@{${action == 'showAll' ? '?' : ''} +
                                  ${action == 'search'  ? 'search?search=' + search + '&' : ''} +
                                  ${action == 'create'  ? '?' : ''} +
                                  ${action == 'update'  ? '?' : ''} +
                                                                                                 'lang=ru'}">Русский</a>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div class="main">

    <div class="sidebar">
        <button type="button">
            <a href="/admin" th:text="#{side-bar.admin.home}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/bookings/new" th:text="#{side-bar.admin.new-booking}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/bookings-today" th:text="#{side-bar.admin.today-bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/bookings-tomorrow" th:text="#{side-bar.admin.tomorrow-bookings}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/bookings" th:text="#{side-bar.admin.list-of-bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/clients" th:text="#{side-bar.admin.list-of-clients}"/>
        </button>
        <button type="button">
            <a href="/admin/riders" th:text="#{side-bar.admin.list-of-riders}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/equipment/snowboards" th:text="#{side-bar.admin.snowboard}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/snowboard-boots" th:text="#{side-bar.admin.snowboard-boots}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/ski" th:text="#{side-bar.admin.ski}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/ski-boots" th:text="#{side-bar.admin.ski-boots}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/helmets" th:text="#{side-bar.admin.helmet}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/jackets" th:text="#{side-bar.admin.jacket}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/gloves" th:text="#{side-bar.admin.gloves}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/pants" th:text="#{side-bar.admin.pants}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/protective-shorts" th:text="#{side-bar.admin.protective-shorts}"/>
        </button>
        <button type="button">
            <a href="/admin/equipment/knee-protection" th:text="#{side-bar.admin.knee-protection}"/>
        </button>
    </div>

    <div class="main-screen">

        <div class="content">

            <div th:if="${action == 'showAll' || action == 'search'}" class="table">

                <!--Header-->
                <h1 th:if="${action == 'showAll'}" th:text="#{${typeOfEquipment.namePlural + '.header.show-all'}}"/>
                <h1 th:if="${action == 'search'}" th:text="#{equipment.search.header}"/>

                <!--Search-->
                <form th:method="GET"
                      th:action="@{'/admin/equipment/' + ${typeOfEquipment.namePlural} + '/search'}">
                    <label for="input-search"></label>
                    <input id="input-search" style="width:200px"
                           type="text" th:name="search"
                           th:value="${search}" th:placeholder="#{equipment.search.placeholder}"/>
                    <input class="button" type="submit" th:value="#{equipment.search.button}"/>
                </form>

                <br>

                <!--Table-->
                <table>
                    <tr>
                        <!-- id -->
                        <th th:width="50">
                            <a th:if="${action == 'search'}" th:text="#{equipment.parameter.id}"/>
                            <a th:if="${action == 'showAll'}" th:text="#{equipment.parameter.id}"
                               th:href="@{'/admin/equipment/' + ${typeOfEquipment.namePlural} + '/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"/>
                        </th>
                        <!-- name -->
                        <th>
                            <a th:if="${action == 'search'}" th:text="#{equipment.parameter.name}"/>
                            <a th:if="${action == 'showAll'}" th:text="#{equipment.parameter.name}"
                               th:href="@{'/admin/equipment/' + ${typeOfEquipment.namePlural} + '/sort?parameter=name&sortDirection=' + ${reverseSortDirection}}"/>
                        </th>
                        <!-- condition -->
                        <th>
                            <a th:if="${action == 'search'}" th:text="#{equipment.parameter.condition}"/>
                            <a th:if="${action == 'showAll'}" th:text="#{equipment.parameter.condition}"
                               th:href="@{'/admin/equipment/' + ${typeOfEquipment.namePlural} + '/sort?parameter=condition&sortDirection=' + ${reverseSortDirection}}"/>
                        </th>
                        <!-- snowboardSize -->
                        <th th:if="${typeOfEquipment.name == 'SNOWBOARD'}">
                            <a th:if="${action == 'search'}" th:text="#{equipment.parameter.snowboard-size}"/>
                            <a th:if="${action == 'showAll'}" th:text="#{equipment.parameter.snowboard-size}"
                               th:href="@{'/admin/equipment/' + ${typeOfEquipment.namePlural} + '/sort?parameter=size&sortDirection=' + ${reverseSortDirection}}"/>
                        </th>
                        <!-- skiSize -->
                        <th th:if="${typeOfEquipment.name == 'SKI'}">
                            <a th:if="${action == 'search'}" th:text="#{equipment.parameter.ski-size}"/>
                            <a th:if="${action == 'showAll'}" th:text="#{equipment.parameter.ski-size}"
                               th:href="@{'/admin/equipment/' + ${typeOfEquipment.namePlural} + '/sort?parameter=size&sortDirection=' + ${reverseSortDirection}}"/>
                        </th>
                        <!-- bootsSize -->
                        <th th:if="${typeOfEquipment.name == 'SNOWBOARD_BOOTS' || typeOfEquipment.name == 'SKI_BOOTS'}">
                            <a th:if="${action == 'search'}" th:text="#{equipment.parameter.boots-size}"/>
                            <a th:if="${action == 'showAll'}" th:text="#{equipment.parameter.boots-size}"
                               th:href="@{'/admin/equipment/' + ${typeOfEquipment.namePlural} + '/sort?parameter=size&sortDirection=' + ${reverseSortDirection}}"/>
                        </th>
                        <!-- clothesSize -->
                        <th th:if="${typeOfEquipment.name == 'HELMET'            || typeOfEquipment.name == 'JACKET' ||
                                     typeOfEquipment.name == 'GLOVES'            || typeOfEquipment.name == 'PANTS'  ||
                                     typeOfEquipment.name == 'PROTECTIVE_SHORTS' || typeOfEquipment.name == 'KNEE_PROTECTION'}">
                            <a th:if="${action == 'search'}" th:text="#{equipment.parameter.clothes-size}"/>
                            <a th:if="${action == 'showAll'}" th:text="#{equipment.parameter.clothes-size}"
                               th:href="@{'/admin/equipment/' + ${typeOfEquipment.namePlural} + '/sort?parameter=size&sortDirection=' + ${reverseSortDirection}}"/>
                        </th>
                        <!-- stiffness -->
                        <th th:if="${typeOfEquipment.name == 'SNOWBOARD' || typeOfEquipment.name == 'SNOWBOARD_BOOTS' ||
                                     typeOfEquipment.name == 'SKI'       || typeOfEquipment.name == 'SKI_BOOTS'}">
                            <a th:if="${action == 'search'}" th:text="#{equipment.parameter.stiffness}"/>
                            <a th:if="${action == 'showAll'}" th:text="#{equipment.parameter.stiffness}"
                               th:href="@{'/admin/equipment/' + ${typeOfEquipment.namePlural} + '/sort?parameter=stiffness&sortDirection=' + ${reverseSortDirection}}"/>
                        </th>
                        <!-- arch -->
                        <th th:if="${typeOfEquipment.name == 'SNOWBOARD'}">
                            <a th:if="${action == 'search'}" th:text="#{equipment.parameter.arch}"/>
                            <a th:if="${action == 'showAll'}" th:text="#{equipment.parameter.arch}"
                               th:href="@{'/admin/equipment/' + ${typeOfEquipment.namePlural} + '/sort?parameter=arch&sortDirection=' + ${reverseSortDirection}}"/>
                        </th>
                        <!-- bindingSize -->
                        <!--/*@thymesVar id="SNOWBOARD" type="my.project.skirentalshop.model.enums.TypesOfEquipment"*/-->
                        <th th:if="${typeOfEquipment.name == 'SNOWBOARD'}">
                            <a th:if="${action == 'search'}" th:text="#{equipment.parameter.binding-size.header}"/>
                            <a th:if="${action == 'showAll'}" th:text="#{equipment.parameter.binding-size.header}"
                               th:href="@{'/admin/equipment/' + ${typeOfEquipment.namePlural} + '/sort?parameter=bindingSize&sortDirection=' + ${reverseSortDirection}}"/>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="oneEquipment : ${listOfEquipment}">
                        <!-- id -->
                        <td th:if="${oneEquipment.type == typeOfEquipment}"
                            th:text="${oneEquipment.id}"/>
                        <!-- name -->
                        <td th:if="${oneEquipment.type == typeOfEquipment}"
                            th:text="${oneEquipment.name}" th:align="left"/>
                        <!-- condition -->
                        <td th:if="${oneEquipment.type == typeOfEquipment}"
                            th:text="#{${'equipment.condition.' + oneEquipment.condition}}"/>
                        <!-- snowboardSize -->
                        <td th:if="${oneEquipment.type == typeOfEquipment &&
                                     typeOfEquipment.name == 'SNOWBOARD'}"
                            th:text="${oneEquipment.size}"/>
                        <!-- skiSize -->
                        <td th:if="${oneEquipment.type == typeOfEquipment &&
                                     typeOfEquipment.name == 'SKI'}"
                            th:text="${oneEquipment.size}"/>
                        <!-- bootsSize -->
                        <td th:if="${oneEquipment.type == typeOfEquipment &&
                                     (typeOfEquipment.name == 'SNOWBOARD_BOOTS' || typeOfEquipment.name == 'SKI_BOOTS')}"
                            th:text="#{${'equipment.foot-size.' + oneEquipment.size}}"/>
                        <!-- clothesSize -->
                        <td th:if="${oneEquipment.type == typeOfEquipment &&
                                     (typeOfEquipment.name == 'HELMET'            || typeOfEquipment.name == 'JACKET' ||
                                      typeOfEquipment.name == 'GLOVES'            || typeOfEquipment.name == 'PANTS'  ||
                                      typeOfEquipment.name == 'PROTECTIVE_SHORTS' || typeOfEquipment.name == 'KNEE_PROTECTION')}"
                            th:text="${oneEquipment.size}"/>
                        <!-- stiffness -->
                        <td th:if="${oneEquipment.type == typeOfEquipment &&
                                     (typeOfEquipment.name == 'SNOWBOARD' || typeOfEquipment.name == 'SNOWBOARD_BOOTS' ||
                                      typeOfEquipment.name == 'SKI'       || typeOfEquipment.name == 'SKI_BOOTS')}"
                            th:text="#{${'equipment.stiffness.' + oneEquipment.stiffness}}"/>
                        <!-- arch -->
                        <td th:if="${oneEquipment.type == typeOfEquipment &&
                                     typeOfEquipment.name == 'SNOWBOARD'}"
                            th:text="#{${'equipment.arch.' + oneEquipment.arch}}"/>
                        <!-- bindingSize -->
                        <td th:if="${oneEquipment.type == typeOfEquipment &&
                                     typeOfEquipment.name == 'SNOWBOARD'}"
                            th:text="${oneEquipment.bindingSize}"/>
                        <!-- Edit button -->
                        <td th:if="${oneEquipment.type == typeOfEquipment}"
                            th:width="1">
                            <a th:href="@{'/admin/equipment/' + ${typeOfEquipment.namePlural} + '/' + ${oneEquipment.id}}">
                                <button class="button" th:text="#{equipment.button.edit}"/>
                            </a>
                        </td>
                        <!-- Delete button -->
                        <td th:if="${oneEquipment.type == typeOfEquipment}"
                            th:width="1">
                            <form th:method="DELETE"
                                  th:action="@{'/admin/equipment/' + ${typeOfEquipment.namePlural} + '/' + ${oneEquipment.id}}">
                                <input class="button" type="submit" th:value="#{equipment.button.delete}"/>
                            </form>
                        </td>
                    </tr>
                </table>

                <br>

                <!--Go to "new"-->
                <div th:if="${action == 'showAll'}">
                    <a th:href="@{'/admin/equipment/' + ${typeOfEquipment.namePlural} + '/new'}">
                        <button class="button" th:text="#{${typeOfEquipment.namePlural + '.button.add-new'}}"/>
                    </a>
                </div>

                <!--Return to "show-all"-->
                <div th:if="${action == 'search'}">
                    <a th:href="@{'/admin/equipment/' + ${typeOfEquipment.namePlural}}">
                        <button class="button" th:text="#{equipment.button.return}"/>
                    </a>
                </div>

            </div>

            <div th:if="${action == 'create' || action == 'update'}" class="new-edit">

                <!--Header-->
                <h1 th:if="${action == 'create'}" th:text="#{${typeOfEquipment.namePlural + '.header.add-new'}}"/>
                <h1 th:if="${action == 'update'}" th:text="#{${typeOfEquipment.namePlural + '.header.edit'}}"/>

                <!--Input parameters-->
                <form th:method="${action == 'create'} ? POST :
                                (${action == 'update'} ? PATCH : '')"
                      th:action="@{'/admin/equipment/' + ${typeOfEquipment.namePlural} + ${action == 'create' ? '' : ''}
                                                                                       + ${action == 'update' ? '/' + equipmentId : ''}}"
                      th:object="${equipment}">
                    <div th:switch="${typeOfEquipment}">
                        <table>
                            <!-- name -->
                            <tr>
                                <td th:text="#{equipment.parameter.name} + ': '"/>
                                <td>
                                    <label for="input-name"></label>
                                    <input id="input-name" type="text"
                                           th:field="*{name}" th:placeholder="#{equipment.parameter.name}"/>
                                    <div class="validation-message"
                                         th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                                    </div>
                                </td>
                            </tr>
                            <!-- type -->
                            <tr>
                                <td>
                                    <input type="hidden" th:field="${equipment.type}"/>
                                </td>
                            </tr>
                            <!-- condition -->
                            <tr>
                                <td th:text="#{equipment.parameter.condition} + ': '"/>
                                <td>
                                    <label for="select-condition"></label>
                                    <select id="select-condition" name="condition">
                                        <option th:each="i : ${T(my.project.skirentalshop.model.enums.EquipmentCondition).values}"
                                                th:value="${i.name}"
                                                th:text="#{${'equipment.condition.' + i}}"
                                                th:selected="${action == 'create'} ? false :
                                                            (${action == 'update'} ? ${equipment.condition.toString == i.toString} : false)">
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <!-- size – Snowboard -->
                            <tr th:if="${typeOfEquipment.name == 'SNOWBOARD'}">
                                <td th:text="#{equipment.parameter.snowboard-size} + ': '"/>
                                <td>
                                    <label for="input-snowboard-size"></label>
                                    <input id="input-snowboard-size" type="text" th:field="*{size}"
                                           th:placeholder="#{equipment.parameter.snowboard-size}"/>
                                    <div class="validation-message"
                                         th:if="${#fields.hasErrors('${equipment}')}" th:errors="${equipment}"></div>
                                </td>
                            </tr>
                            <!-- size - Ski -->
                            <tr th:if="${typeOfEquipment.name == 'SKI'}">
                                <td th:text="#{equipment.parameter.ski-size} + ': '"/>
                                <td>
                                    <label for="input-ski-size"></label>
                                    <input id="input-ski-size" type="text" th:field="*{size}"
                                           th:placeholder="#{equipment.parameter.ski-size}"/>
                                    <div class="validation-message"
                                         th:if="${#fields.hasErrors('${equipment}')}" th:errors="${equipment}"></div>
                                </td>
                            </tr>
                            <!-- size - SnowboardBoots, SkiBoots -->
                            <tr th:if="${typeOfEquipment.name == 'SNOWBOARD_BOOTS' || typeOfEquipment.name == 'SKI_BOOTS'}">
                                <td th:text="#{equipment.parameter.boots-size} + ': '"/>
                                <td>
                                    <label for="select-foot-size"></label>
                                    <select id="select-foot-size" name="size">
                                        <option th:each="i : ${T(my.project.skirentalshop.model.enums.FootSize).values}"
                                                th:value="${i.name}"
                                                th:text="#{${'equipment.foot-size.' + i}}"
                                                th:selected="${action == 'create'} ? false :
                                                            (${action == 'update'} ? ${equipment.size == i.name} : false)">
                                        </option>
                                    </select>
                                    <div class="validation-message"
                                         th:if="${#fields.hasErrors('${equipment}')}" th:errors="${equipment}"></div>
                                </td>
                            </tr>
                            <!-- size - Helmet, Jacket, Gloves, Pants, ProtectiveShorts, KneeProtection -->
                            <tr th:if="${typeOfEquipment.name == 'HELMET'            || typeOfEquipment.name == 'JACKET' ||
                                         typeOfEquipment.name == 'GLOVES'            || typeOfEquipment.name == 'PANTS'  ||
                                         typeOfEquipment.name == 'PROTECTIVE_SHORTS' || typeOfEquipment.name == 'KNEE_PROTECTION'}">
                                <td th:text="#{equipment.parameter.clothes-size} + ': '"/>
                                <td>
                                    <label for="select-clothes-size"></label>
                                    <select id="select-clothes-size" name="size">
                                        <option th:each="i : ${T(my.project.skirentalshop.model.enums.ClothesSize).values}"
                                                th:value="${i.name}"
                                                th:text="${i}"
                                                th:selected="${action == 'create'} ? false :
                                                            (${action == 'update'} ? ${equipment.size == i.name} : false)">
                                        </option>
                                    </select>
                                    <div class="validation-message"
                                         th:if="${#fields.hasErrors('${equipment}')}" th:errors="${equipment}"></div>
                                </td>
                            </tr>
                            <!-- stiffness -->
                            <tr th:if="${typeOfEquipment.name == 'SNOWBOARD' || typeOfEquipment.name == 'SNOWBOARD_BOOTS' ||
                                         typeOfEquipment.name == 'SKI'       || typeOfEquipment.name == 'SKI_BOOTS'}">
                                <td th:text="#{equipment.parameter.stiffness} + ': '"/>
                                <td>
                                    <label for="select-stiffness"></label>
                                    <select id="select-stiffness" name="stiffness">
                                        <option th:each="i : ${T(my.project.skirentalshop.model.enums.Stiffness).values}"
                                                th:value="${i.name}"
                                                th:text="#{${'equipment.stiffness.' + i}}"
                                                th:selected="${action == 'create'} ? false :
                                                            (${action == 'update'} ? ${equipment.stiffness.toString == i.toString} : false)">
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <!-- arch -->
                            <tr th:if="${typeOfEquipment.name == 'SNOWBOARD'}">
                                <td th:text="#{equipment.parameter.arch} + ': '"/>
                                <td>
                                    <label for="select-arch"></label>
                                    <select id="select-arch" name="arch">
                                        <option th:each="i : ${T(my.project.skirentalshop.model.enums.Arch).values}"
                                                th:value="${i.name}"
                                                th:text="#{${'equipment.arch.' + i}}"
                                                th:selected="${action == 'create'} ? false :
                                                            (${action == 'update'} ? ${equipment.arch.toString == i.toString} : false)">
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <!-- bindingSize -->
                            <tr th:if="${typeOfEquipment.name == 'SNOWBOARD'}">
                                <td th:text="#{equipment.parameter.binding-size} + ': '"/>
                                <td>
                                    <label for="select-binding-size"></label>
                                    <select id="select-binding-size" name="bindingSize">
                                        <option th:each="i : ${T(my.project.skirentalshop.model.enums.BindingSize).values}"
                                                th:value="${i.name}"
                                                th:text="${i}"
                                                th:selected="${action == 'create'} ? false :
                                                            (${action == 'update'} ? ${equipment.bindingSize.toString == i.toString} : false)">
                                        </option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <br>

                    <!-- Submit button -->
                    <div>
                        <input th:if="${action == 'create'}"
                               class="button" type="submit"
                               th:value="#{${typeOfEquipment.namePlural + '.button.add-new'}}"/>
                        <input th:if="${action == 'update'}"
                               class="button" type="submit" th:value="#{equipment.button.save}"/>
                    </div>

                    <br>
                </form>

                <!--Return to "show-all"-->
                <a th:href="@{'/admin/equipment/' + ${typeOfEquipment}}">
                    <button class="button" th:text="#{equipment.button.return}"/>
                </a>

            </div>

        </div>

    </div>

</div>

</body>

</html>
