<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{${typeOfEquipment + '.title'}}"/>
    <link rel="stylesheet" th:href="@{${#themes.code('afterAuthentication')}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@350&display=swap"/>
</head>

<body>

<div class="header">
    <nav class="top-nav">
        <ul class="top-nav-items">
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.account}"/>
                <div class="dropdown-content">
                    <a href="/sign-out" th:text="#{top-nav.sign-out}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.theme}"/>
                <div class="dropdown-content">
                    <a th:href="@{'/admin/info-equipment/' + ${typeOfEquipment} + '/search?search=' + ${search} + '&theme=theme_1'}"
                       th:text="#{top-nav.theme.theme-1}"/>
                    <a th:href="@{'/admin/info-equipment/' + ${typeOfEquipment} + '/search?search=' + ${search} + '&theme=theme_2'}"
                       th:text="#{top-nav.theme.theme-2}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top-nav.lang}"/>
                <div class="dropdown-content">
                    <a th:href="@{'/admin/info-equipment/' + ${typeOfEquipment} + '/search?search=' + ${search} + '&lang=en'}">English</a>
                    <a th:href="@{'/admin/info-equipment/' + ${typeOfEquipment} + '/search?search=' + ${search} + '&lang=ru'}">Russian</a>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div class="main">

    <div class="sidebar">
        <button type="button">
            <a href="/admin" th:text="#{side-bar.admin.home}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-booking/add-new" th:text="#{side-bar.admin.new-booking}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/show-today" th:text="#{side-bar.admin.today-bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/show-tomorrow" th:text="#{side-bar.admin.tomorrow-bookings}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-booking" th:text="#{side-bar.admin.list-of-bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/info-clients" th:text="#{side-bar.admin.list-of-clients}"/>
        </button>
        <button type="button">
            <a href="/admin/info-riders" th:text="#{side-bar.admin.list-of-riders}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-equipment/snowboard" th:text="#{side-bar.admin.snowboard}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/snowboard-boots" th:text="#{side-bar.admin.snowboard-boots}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/ski" th:text="#{side-bar.admin.ski}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/ski-boots" th:text="#{side-bar.admin.ski-boots}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/helmet" th:text="#{side-bar.admin.helmet}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/jacket" th:text="#{side-bar.admin.jacket}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/gloves" th:text="#{side-bar.admin.gloves}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/pants" th:text="#{side-bar.admin.pants}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/protective-shorts" th:text="#{side-bar.admin.protective-shorts}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/knee-protection" th:text="#{side-bar.admin.knee-protection}"/>
        </button>
    </div>

    <div class="main-screen">

        <div class="content">

            <div class="table">
                <!--Header-->
                <h1 th:text="#{equipment.search.header}"/>

                <!--Table-->
                <table>
                    <tr>
                        <!-- id -->
                        <th>
                            <a th:href="@{'/admin/info-equipment/' + ${typeOfEquipment} + '/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"
                               th:text="#{equipment.parameter.id}"/>
                        </th>
                        <!-- name -->
                        <th>
                            <a th:href="@{'/admin/info-equipment/' + ${typeOfEquipment} + '/sort?parameter=name&sortDirection=' + ${reverseSortDirection}}"
                               th:text="#{equipment.parameter.name}"/>
                        </th>
                        <!-- condition -->
                        <th>
                            <a th:href="@{'/admin/info-equipment/' + ${typeOfEquipment} + '/sort?parameter=condition&sortDirection=' + ${reverseSortDirection}}"
                               th:text="#{equipment.parameter.condition}"/>
                        </th>
                        <!-- snowboardSize -->
                        <th th:if="${typeOfEquipment == 'snowboard'}">
                            <a th:href="@{'/admin/info-equipment/' + ${typeOfEquipment} + '/sort?parameter=snowboardSize&sortDirection=' + ${reverseSortDirection}}"
                               th:text="#{equipment.parameter.snowboard-size}"/>
                        </th>
                        <!-- skiSize -->
                        <th th:if="${typeOfEquipment == 'ski'}">
                            <a th:href="@{'/admin/info-equipment/' + ${typeOfEquipment} + '/sort?parameter=skiSize&sortDirection=' + ${reverseSortDirection}}"
                               th:text="#{equipment.parameter.ski-size}"/>
                        </th>
                        <!-- bootsSize -->
                        <th th:if="${typeOfEquipment == 'snowboard-boots' || typeOfEquipment == 'ski-boots'}">
                            <a th:href="@{'/admin/info-equipment/' + ${typeOfEquipment} + '/sort?parameter=bootsSize&sortDirection=' + ${reverseSortDirection}}"
                               th:text="#{equipment.parameter.boots-size}"/>
                        </th>
                        <!-- clothesSize -->
                        <th th:if="${typeOfEquipment == 'helmet'            || typeOfEquipment == 'jacket' ||
                                     typeOfEquipment == 'gloves'            || typeOfEquipment == 'pants' ||
                                     typeOfEquipment == 'protective-shorts' || typeOfEquipment == 'knee-protection'}">
                            <a th:href="@{'/admin/info-equipment/' + ${typeOfEquipment} + '/sort?parameter=clothesSize&sortDirection=' + ${reverseSortDirection}}"
                               th:text="#{equipment.parameter.clothes-size}"/>
                        </th>
                        <!-- stiffness -->
                        <th th:if="${typeOfEquipment == 'snowboard' || typeOfEquipment == 'snowboard-boots' ||
                                     typeOfEquipment == 'ski'       || typeOfEquipment == 'ski-boots'}">
                            <a th:href="@{'/admin/info-equipment/' + ${typeOfEquipment} + '/sort?parameter=stiffness&sortDirection=' + ${reverseSortDirection}}"
                               th:text="#{equipment.parameter.stiffness}"/>
                        </th>
                        <!-- arch -->
                        <th th:if="${typeOfEquipment == 'snowboard'}">
                            <a th:href="@{'/admin/info-equipment/' + ${typeOfEquipment} + '/sort?parameter=arch&sortDirection=' + ${reverseSortDirection}}"
                               th:text="#{equipment.parameter.arch}"/>
                        </th>
                        <!-- bindingSize -->
                        <th th:if="${typeOfEquipment == 'snowboard'}">
                            <a th:href="@{'/admin/info-equipment/' + ${typeOfEquipment} + '/sort?parameter=bindingSize&sortDirection=' + ${reverseSortDirection}}"
                               th:text="#{equipment.parameter.binding-size}"/>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="oneEquipment : ${equipmentBySearch}"> <!-- here we take equipment of all types -->
                        <!-- th:if checks whether oneEquipment type is same as "typeOfEquipment" parameter, and since
                             oneEquipment.getType is stored as ordinal (of enum), in order to cast it to the same
                             format as "typeOfEquipment" parameters we do the following:
                             oneEquipment.getType           -> result: ordinal of enum field (for example, 1)
                                         .name              -> result: name of enum field (for example, SNOWBOARD_BOOTS)
                                         .toLowerCase       -> result: (for example, snowboard_boots)
                                         .replace('_', '-') -> result: (for example, snowboard-boots) -->
                        <!-- id -->
                        <td th:if="${oneEquipment.type.name.toLowerCase.replace('_', '-') == typeOfEquipment}"
                            th:text="${oneEquipment.id}"/>
                        <!-- name -->
                        <td th:if="${oneEquipment.type.name.toLowerCase.replace('_', '-') == typeOfEquipment}"
                            th:text="${oneEquipment.name}" th:align="left"/>
                        <!-- condition -->
                        <td th:if="${oneEquipment.type.name.toLowerCase.replace('_', '-') == typeOfEquipment}"
                            th:text="#{${'equipment.condition.' + oneEquipment.condition}}"/>
                        <!-- snowboardSize -->
                        <td th:if="${oneEquipment.type.name.toLowerCase.replace('_', '-') == typeOfEquipment &&
                                     typeOfEquipment == 'snowboard'}"
                            th:text="${oneEquipment.size}"/>
                        <!-- skiSize -->
                        <td th:if="${oneEquipment.type.name.toLowerCase.replace('_', '-') == typeOfEquipment &&
                                     typeOfEquipment == 'ski'}"
                            th:text="${oneEquipment.size}"/>
                        <!-- bootsSize -->
                        <td th:if="${oneEquipment.type.name.toLowerCase.replace('_', '-') == typeOfEquipment &&
                                     (typeOfEquipment == 'snowboard-boots' || typeOfEquipment == 'ski-boots')}"
                            th:text="#{${'equipment.boots-size.' + oneEquipment.size}}"/>
                        <!-- clothesSize -->
                        <td th:if="${oneEquipment.type.name.toLowerCase.replace('_', '-') == typeOfEquipment &&
                                     (typeOfEquipment == 'helmet'            || typeOfEquipment == 'jacket' ||
                                      typeOfEquipment == 'gloves'            || typeOfEquipment == 'pants'  ||
                                      typeOfEquipment == 'protective-shorts' || typeOfEquipment == 'knee-protection')}"
                            th:text="${oneEquipment.size}"/>
                        <!-- stiffness -->
                        <td th:if="${oneEquipment.type.name.toLowerCase.replace('_', '-') == typeOfEquipment &&
                                     (typeOfEquipment == 'snowboard' || typeOfEquipment == 'snowboard-boots' ||
                                      typeOfEquipment == 'ski'       || typeOfEquipment == 'ski-boots')}"
                            th:text="#{${'equipment.stiffness.' + oneEquipment.stiffness}}"/>
                        <!-- arch -->
                        <td th:if="${oneEquipment.type.name.toLowerCase.replace('_', '-') == typeOfEquipment &&
                                     typeOfEquipment == 'snowboard'}"
                            th:text="#{${'equipment.arch.' + oneEquipment.arch}}"/>
                        <!-- bindingSize -->
                        <td th:if="${oneEquipment.type.name.toLowerCase.replace('_', '-') == typeOfEquipment &&
                                     typeOfEquipment == 'snowboard'}"
                            th:text="${oneEquipment.bindingSize}"/>
                        <td th:if="${oneEquipment.type.name.toLowerCase.replace('_', '-') == typeOfEquipment}"
                            th:width="1">
                            <a th:href="@{'/admin/info-equipment/' + ${typeOfEquipment} + '/edit/' + ${oneEquipment.id}}">
                                <button class="button" th:text="#{equipment.button.edit}"/>
                            </a>
                        </td>
                        <td th:if="${oneEquipment.type.name.toLowerCase.replace('_', '-') == typeOfEquipment}"
                            th:width="1">
                            <form th:method="DELETE"
                                  th:action="@{'/admin/info-equipment/' + ${typeOfEquipment} + '/' + ${oneEquipment.id}}">
                                <input class="button" type="submit" th:value="#{equipment.button.delete}"/>
                            </form>
                        </td>
                    </tr>
                </table>

                <br>

                <!--Return to "show-all"-->
                <a th:href="'/admin/info-equipment/' + ${typeOfEquipment} + '/'">
                    <button class="button" th:text="#{equipment.button.return}"/>
                </a>
            </div>

        </div>

    </div>

</div>

</body>

</html>