<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{pants.title}">?????</title>
    <link rel="stylesheet" href="/css/styles1.css">
</head>

<body>

<div class="header">
    <div>
        <a href="/admin?lang=ru"><img src="/images/language/flag_ru.png" width="40" height="40"/></a>
        <a href="/admin?lang=en"><img src="/images/language/flag_en.png" width="40" height="40"/></a>
    </div>
</div>

<div class="main">

    <div class="sidebar">
        <button type="button">
            <a href="/admin" th:text="#{admin.main_page}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-booking/add-new" th:text="#{admin.main_page.new_booking}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/show-today" th:text="#{admin.main_page.today_bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/show-tomorrow" th:text="#{admin.main_page.tomorrow_bookings}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-booking" th:text="#{admin.main_page.list_of_bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/info-clients" th:text="#{admin.main_page.list_of_clients}"/>
        </button>
        <button type="button">
            <a href="/admin/info-riders" th:text="#{admin.main_page.list_of_riders}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-equipment/snowboard" th:text="#{admin.main_page.snowboard}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/snowboard-boots" th:text="#{admin.main_page.snowboard_boots}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/ski" th:text="#{admin.main_page.ski}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/ski-boots" th:text="#{admin.main_page.ski_boots}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/helmet" th:text="#{admin.main_page.helmet}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/jacket" th:text="#{admin.main_page.jacket}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/gloves" th:text="#{admin.main_page.gloves}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/pants" th:text="#{admin.main_page.pants}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/protective-shorts" th:text="#{admin.main_page.protective_shorts}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/knee-protection" th:text="#{admin.main_page.knee_protection}"/>
        </button>
    </div>

    <div class="content">
        <div class="new-edit">
            <!--Header-->
            <h1 th:text="#{pants.header.add_new}">?????</h1>

            <!--Input parameters-->
            <form th:method="POST"
                  th:action="@{/admin/info-equipment/pants}"
                  th:object="${newPants}">
                <table>
                    <tr>
                        <td th:text="#{pants.parameter.name} + ': '">?????</td>
                        <td>
                            <input type="text" th:field="*{name}">
                            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">?????</div>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="#{pants.parameter.condition} + ': '">?????</td>
                        <td>
                            <select name="condition">
                                <option th:each="i : ${T(my.project.skirentalshop.model.EquipmentCondition).values()}"
                                        th:value="${i.name()}"
                                        th:text="#{${'equipment_condition.' + i}}">?????
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="#{pants.parameter.size} + ': '">?????</td>
                        <td>
                            <select name="size">
                                <option th:each="i : ${T(my.project.skirentalshop.model.Pants.Size).values()}"
                                        th:value="${i.name}"
                                        th:text="${i.name}">?????
                                </option>
                            </select>
                        </td>
                    </tr>
                </table>

                <br>

                <input type="submit" th:value="#{pants.button.show_all.add_new}">
            </form>

            <br>

            <!--Return to "pants/show_all"-->
            <a href="/admin/info-equipment/pants/">
                <button th:text="#{equipment.button.return}">?????</button>
            </a>
        </div>
    </div>

</div>

<div class="footer"></div>

</body>

</html>