<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{ski_boots.title}">?????</title>
</head>

<body th:align="center">

<!--Header-->
<h1 th:text="#{ski_boots.header.add_new}">?????</h1>

<!--Input parameters-->
<form th:method="POST"
      th:action="@{/admin/info-equipment/ski-boots}"
      th:object="${newSkiBoots}">
    <table th:align="center" style="text-align:left" th:cellpadding="2">
        <tr>
            <td th:text="#{ski_boots.parameter.name} + ': '">?????</td>
            <td>
                <input type="text" th:field="*{name}"/>
                <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">?????</div>
            </td>
        </tr>
        <tr>
            <td th:text="#{ski_boots.parameter.condition} + ': '">?????</td>
            <td>
                <select name="condition">
                    <option th:each="i : ${T(my.project.skirentalshop.model.EquipmentCondition).values()}"
                            th:value="${i.name()}"
                            th:text="#{${'equipment_condition.' + i}}">?????
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td th:text="#{ski_boots.parameter.size}">?????</td>
            <td>
                <select name="size">
                    <option th:each="i : ${T(my.project.skirentalshop.model.SkiBoots.Size).values()}"
                            th:value="${i.name()}" th:text="#{${'ski_boots.size.' + i}}">?????
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td th:text="#{ski_boots.parameter.stiffness} + ': '">?????</td>
            <td>
                <select name="stiffness">
                    <option th:each="i : ${T(my.project.skirentalshop.model.SkiBoots.Stiffness).values()}"
                            th:value="${i.name()}"
                            th:text="#{${'ski_boots.stiffness.' + i}}">?????
                    </option>
                </select>
            </td>
        </tr>
    </table>

    <br>

    <input type="submit" th:value="#{ski_boots.button.show_all.add_new}"/>
</form>

<br>

<!--Return to "ski_boots/show_all"-->
<a href="/admin/info-equipment/ski-boots">
    <button th:text="#{equipment.button.return}">?????</button>
</a>

</body>

</html>