<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{ski_boots.title}">?????</title>
    <link rel="stylesheet" th:href="@{${#themes.code('styleSheet')}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@350&display=swap">
</head>

<body>

<div class="header">
    <nav class="top-nav">
        <ul class="top-nav-items">
            <li class="top-nav-item-text center">
                <a href="#" th:text="#{top_nav.account}"></a>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.theme}"></div>
                <div class="dropdown-content">
                    <a th:href="'/admin/info-equipment/ski-boots/search?search=' + ${search} + '&theme=theme_1'">Theme 1</a>
                    <a th:href="'/admin/info-equipment/ski-boots/search?search=' + ${search} + '&theme=theme_2'">Theme 2</a>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.lang}"></div>
                <div class="dropdown-content">
                    <a th:href="'/admin/info-equipment/ski-boots/search?search=' + ${search} + '&lang=en'">English</a>
                    <a th:href="'/admin/info-equipment/ski-boots/search?search=' + ${search} + '&lang=ru'">Russian</a>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div class="main">

    <div class="sidebar">
        <button type="button">
            <a href="/admin" th:text="#{admin.main_page}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-booking/add-new" th:text="#{admin.main_page.new_booking}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/show-today" th:text="#{admin.main_page.today_bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/show-tomorrow" th:text="#{admin.main_page.tomorrow_bookings}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-booking" th:text="#{admin.main_page.list_of_bookings}"/>
        </button>
        <button type="button">
            <a href="/admin/info-clients" th:text="#{admin.main_page.list_of_clients}"/>
        </button>
        <button type="button">
            <a href="/admin/info-riders" th:text="#{admin.main_page.list_of_riders}"/>
        </button>
        <br>
        <button type="button">
            <a href="/admin/info-equipment/snowboard" th:text="#{admin.main_page.snowboard}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/snowboard-boots" th:text="#{admin.main_page.snowboard_boots}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/ski" th:text="#{admin.main_page.ski}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/ski-boots" th:text="#{admin.main_page.ski_boots}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/helmet" th:text="#{admin.main_page.helmet}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/jacket" th:text="#{admin.main_page.jacket}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/gloves" th:text="#{admin.main_page.gloves}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/pants" th:text="#{admin.main_page.pants}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/protective-shorts" th:text="#{admin.main_page.protective_shorts}"/>
        </button>
        <button type="button">
            <a href="/admin/info-equipment/knee-protection" th:text="#{admin.main_page.knee_protection}"/>
        </button>
    </div>

    <div class="content">
        <div class="table">
            <!--Header-->
            <h1 th:text="#{ski_boots.header.search}">?????</h1>

            <!--Table-->
            <table>
                <tr>
                    <th th:text="#{ski_boots.parameter.id}">?????</th>
                    <th th:text="#{ski_boots.parameter.name}">?????</th>
                    <th th:text="#{ski_boots.parameter.condition}">?????</th>
                    <th th:text="#{ski_boots.parameter.size}">?????</th>
                    <th th:text="#{ski_boots.parameter.stiffness}">?????</th>
                    <th></th><th></th>
                </tr>
                <tr th:each="oneSkiBoots : ${skiBootsBySearch}">
                    <td th:text="${oneSkiBoots.getId()}">?????</td>
                    <td th:text="${oneSkiBoots.getName()}" th:align="left">?????</td>
                    <td th:text="#{${'equipment_condition.' + oneSkiBoots.getCondition()}}">?????</td>
                    <td th:text="#{${'ski_boots.size.' + oneSkiBoots.getSize()}}">?????</td>
                    <td th:text="#{${'ski_boots.stiffness.' + oneSkiBoots.getStiffness()}}">?????</td>
                    <td th:width="1">
                        <a th:href="@{/admin/info-equipment/ski-boots/edit/{id}(id=${oneSkiBoots.getId()})}">
                            <button class="button" th:text="#{equipment.button.edit}">?????</button>
                        </a>
                    </td>
                    <td th:width="1">
                        <form th:method="DELETE"
                              th:action="@{/admin/info-equipment/ski-boots/{id}(id=${oneSkiBoots.getId()})}">
                            <input class="button" type="submit" th:value="#{equipment.button.delete}">
                        </form>
                    </td>
                </tr>
            </table>

            <br>

            <!--Return to "ski_boots/show_all"-->
            <a href="/admin/info-equipment/ski-boots/">
                <button class="button" th:text="#{equipment.button.return}">?????</button>
            </a>
        </div>
    </div>

</div>

</body>

</html>