<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{ski_boots.title}">?????</title>
</head>

<body th:align="center">

<!--Header-->
<h1 th:text="#{ski_boots.header.show_all}">?????</h1>

<!--Search-->
<form th:method="GET"
      th:action="@{/admin/info-equipment/ski-boots/search}">
    <input th:type="text" name="search" th:placeholder="#{equipment.search_placeholder}" style="width:200px"/>
    <input type="submit" th:value="#{equipment.search_button}"/>
</form>

<br>

<!--Table-->
<table th:align="center"
       th:border="1" th:rules="rows"
       th:cellpadding="5">
    <tr>
        <th>
            <a th:href="@{'/admin/info-equipment/ski-boots/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{ski_boots.parameter.id}">?????</a>
        </th>
        <th>
            <a th:href="@{'/admin/info-equipment/ski-boots/sort?parameter=name&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{ski_boots.parameter.name}">?????</a>
        </th>
        <th>
            <a th:href="@{'/admin/info-equipment/ski-boots/sort?parameter=condition&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{ski_boots.parameter.condition}">?????</a>
        </th>
        <th>
            <a th:href="@{'/admin/info-equipment/ski-boots/sort?parameter=size&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{ski_boots.parameter.size}">?????</a>
        </th>
        <th>
            <a th:href="@{'/admin/info-equipment/ski-boots/sort?parameter=stiffness&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{ski_boots.parameter.stiffness}">?????</a>
        </th>
    </tr>
    <tr th:each="oneSkiBoots : ${allSkiBoots}">
        <td th:text="${oneSkiBoots.getId()}">?????</td>
        <td th:text="${oneSkiBoots.getName()}" th:align="left">?????</td>
        <td th:text="#{${'equipment_condition.' + oneSkiBoots.getCondition()}}">?????</td>
        <td th:text="#{${'ski_boots.size.' + oneSkiBoots.getSize()}}">?????</td>
        <td th:text="#{${'ski_boots.stiffness.' + oneSkiBoots.getStiffness()}}">?????</td>
        <td th:width="25"></td>
        <td>
            <a th:href="@{/admin/info-equipment/ski-boots/edit/{id}(id=${oneSkiBoots.getId()})}">
                <button th:text="#{equipment.button.edit}">?????</button>
            </a>
        </td>
        <td>
            <form th:method="DELETE"
                  th:action="@{/admin/info-equipment/ski-boots/{id}(id=${oneSkiBoots.getId()})}">
                <input type="submit" th:value="#{equipment.button.delete}"/>
            </form>
        </td>
    </tr>
</table>

<br>

<!--Add new-->
<a href="/admin/info-equipment/ski-boots/add-new">
    <button th:text="#{ski_boots.button.show_all.add_new}">?????</button>
</a>

<br><br>

<!--Return to list of equipment-->
<a href="/admin/info-equipment">
    <button th:text="#{equipment.button.go_to_equipment}">?????</button>
</a>

<!--Return to main-->
<a href="/admin">
    <button th:text="#{equipment.button.go_to_main}">?????</button>
</a>

</body>

</html>