<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{rider.add_new.title}">?????</title>
    <link rel="stylesheet" th:href="@{${#themes.code('styleSheet')}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@350&display=swap">
</head>

<body>

<div class="header">
    <nav class="top-nav">
        <ul class="top-nav-items">
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.account}"></div>
                <div class="dropdown-content">
                    <a href="#" th:text="#{top_nav.settings}"></a>
                    <a href="/sign-out" th:text="#{top_nav.sign_out}"></a>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.theme}"></div>
                <div class="dropdown-content">
                    <a href="/client/info-riders/add-new?theme=theme_1" th:text="#{top_nav.theme.theme_1}"></a>
                    <a href="/client/info-riders/add-new?theme=theme_2" th:text="#{top_nav.theme.theme_2}"></a>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.lang}"></div>
                <div class="dropdown-content">
                    <a href="/client/info-riders/add-new?lang=en">English</a>
                    <a href="/client/info-riders/add-new?lang=ru">Russian</a>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div class="main">

    <div class="sidebar">
        <button type="button">
            <a href="/client" th:text="#{side_bar.client.home}"/>
        </button>
        <br>
        <button type="button">
            <a href="/client/info-booking/add-new" th:text="#{side_bar.client.new_booking}"/>
        </button>
        <br>
        <button type="button">
            <a href="/client/history" th:text="#{side_bar.client.history}"/>
        </button>
        <br>
        <button type="button">
            <a href="/client/info-riders" th:text="#{side_bar.client.riders}"/>
        </button>
    </div>

    <div class="content">
        <div class="new-edit">
            <!--Header-->
            <h1 th:text="#{rider.add_new.header}">?????</h1>

            <!--Input parameters-->
            <form th:method="POST"
                  th:action="${bookingId == null} ? '/client/info-riders/add' : '/client/info-riders/add?id=' + ${bookingId}"
                  th:object="${newRider}">
                <table>
                    <tr>
                        <td th:text="#{rider.add_new.table.header.name} + ': '">?????</td>
                        <td>
                            <input th:type="text" th:field="*{name}">
                            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">?????</div>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="#{rider.add_new.table.header.sex} + ': '">?????</td>
                        <td>
                            <select name="sex">
                                <option th:each="i : ${T(my.project.skirentalshop.model.Rider.Sex).values()}"
                                        th:value="${i.name()}"
                                        th:text="#{${'rider.sex.'+ i}}">?????
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="#{rider.add_new.table.header.height} + ': '">?????</td>
                        <td>
                            <input th:type="text" th:field="*{height}">
                            <div style="color:red" th:if="${#fields.hasErrors('height')}" th:errors="*{height}">?????
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="#{rider.add_new.table.header.weight} + ': '">?????</td>
                        <td>
                            <input th:type="text" th:field="*{weight}">
                            <div style="color:red" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}">?????
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="#{rider.add_new.table.header.foot} + ': '">?????</td>
                        <td>
                            <select name="foot">
                                <option th:each="i : ${T(my.project.skirentalshop.model.Rider.Size).values()}"
                                        th:value="${i.name()}"
                                        th:text="#{${'rider.size.' + i}}">?????
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td th:align="top" th:text="#{rider.add_new.table.header.equipment} + ': '">?????</td>
                        <td>
                            <div th:each="equip : ${T(my.project.skirentalshop.model.TypesOfEquipment).values()}">
                                <input th:field="*{equipmentNeededIds}"
                                       type="checkbox"
                                       th:value="${equip.name()}">
                                <span th:text="#{${'equipment.type.' + equip}}">?????</span>
                            </div>
                        </td>
                    </tr>
                </table>

                <br>

                <input class="button" type="submit" th:value="#{rider.add_new.button.create}">
            </form>

            <br>

            <!--Return to booking-->
            <div th:if="${bookingId != null}">
                <form th:method="GET"
                      th:action="@{/client/info-booking/edit/{id}(id=${bookingId})}">
                    <input class="button" type="submit" th:value="#{rider.add_new.button.go_to_order}">
                </form>
            </div>
            <div th:if="${bookingId == null}">
                <form th:method="GET"
                      th:action="@{/client/info-riders}">
                    <input class="button" type="submit" th:value="#{rider.add_new.button.return}">
                </form>
            </div>
        </div>
    </div>

</div>

</body>

</html>