<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{rider.edit.title}"/>
    <link rel="stylesheet" th:href="@{${#themes.code('afterAuthentication')}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@350&display=swap"/>
</head>

<body>

<div class="header">
    <nav class="top-nav">
        <ul class="top-nav-items">
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.account}"/>
                <div class="dropdown-content">
                    <a href="/client/settings" th:text="#{top_nav.settings}"/>
                    <a href="/sign-out" th:text="#{top_nav.sign_out}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.theme}"/>
                <div class="dropdown-content">
                    <a th:href="'/client/info-riders/edit?id=' + ${riderId} + '&theme=theme_1'"
                       th:text="#{top_nav.theme.theme_1}"/>
                    <a th:href="'/client/info-riders/edit?id=' + ${riderId} + '&theme=theme_2'"
                       th:text="#{top_nav.theme.theme_2}"/>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-button center" th:text="#{top_nav.lang}"/>
                <div class="dropdown-content">
                    <a th:href="'/client/info-riders/edit?id=' + ${riderId} + '&lang=en'">English</a>
                    <a th:href="'/client/info-riders/edit?id=' + ${riderId} + '&lang=ru'">Russian</a>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div class="main">

    <div class="sidebar">
        <button type="button">
            <a href="/client" th:text="#{side_bar.client.home}"/>
        </button>
        <br>
        <button type="button">
            <a href="/client/info-booking/add-new" th:text="#{side_bar.client.new_booking}"/>
        </button>
        <br>
        <button type="button">
            <a href="/client/history" th:text="#{side_bar.client.history}"/>
        </button>
        <br>
        <button type="button">
            <a href="/client/info-riders" th:text="#{side_bar.client.riders}"/>
        </button>
    </div>

    <div class="main-screen">

        <div class="content">
            <div class="new-edit">
                <!--Header-->
                <h1 th:text="#{rider.edit.header}"/>

                <!--Input parameters-->
                <form th:method="PATCH"
                      th:action="${bookingId == null} ? '/client/info-riders/edit/' + ${riderId}
                    : '/client/info-riders/edit/' + ${riderId} + '?bookingId=' + ${bookingId}"
                      th:object="${riderToUpdate}">
                    <table>
                        <tr>
                            <td th:text="#{rider.edit.name} + ': '"/>
                            <td>
                                <label for="input-name"></label>
                                <input id="input-name"
                                       type="text" th:field="*{name}" th:placeholder="#{rider.edit.name}"/>
                                <div class="validation-message"
                                     th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{rider.edit.sex} + ': '"/>
                            <td>
                                <label for="select-sex"></label>
                                <select id="select-sex" th:field="*{sex}">
                                    <option th:each="i : ${T(my.project.skirentalshop.model.Rider.Sex).values}"
                                            th:value="${i.name}"
                                            th:text="#{${'rider.sex.' + i}}"
                                            th:selected="${riderToUpdate.sex}">
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{rider.edit.height} + ': '"/>
                            <td>
                                <label for="input-height"></label>
                                <input id="input-height"
                                       type="text" th:field="*{height}" th:placeholder="#{rider.edit.height}"/>
                                <div class="validation-message"
                                     th:if="${#fields.hasErrors('height')}" th:errors="*{height}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{rider.edit.weight} + ': '"/>
                            <td>
                                <label for="input-weight"></label>
                                <input id="input-weight"
                                       type="text" th:field="*{weight}" th:placeholder="#{rider.edit.weight}"/>
                                <div class="validation-message"
                                     th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{rider.edit.foot} + ': '"/>
                            <td>
                                <label for="select-foot-size"></label>
                                <select id="select-foot-size" th:field="*{footSize}">
                                    <option th:each="i : ${T(my.project.skirentalshop.model.Rider.Size).values}"
                                            th:value="${i.name}"
                                            th:text="#{${'rider.size.' + i}}"
                                            th:selected="${riderToUpdate.footSize}">
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{rider.edit.equipment} + ': '" th:align="top"/>
                            <td>
                                <div th:each="i : ${T(my.project.skirentalshop.model.TypesOfEquipment).values}">
                                    <label for="input-equipment-id"></label>
                                    <input id="input-equipment-id" type="checkbox"
                                           th:field="*{equipmentNeededIds}"
                                           th:value="${i.name}">
                                    <span th:text="#{${'equipment.type.' + i}}"/>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <br>

                    <input class="button" type="submit" th:value="#{rider.edit.button.save}"/>
                </form>

                <br>

                <!--Return to order -->
                <div th:if="${bookingId != null}">
                    <form th:method="GET"
                          th:action="@{/client/info-booking/edit/{id}(id=${bookingId})}">
                        <input class="button" type="submit" th:value="#{rider.edit.button.go_to_order}"/>
                    </form>
                </div>

                <!--Return to "/client/info-riders"-->
                <div th:if="${bookingId == null}">
                    <form th:method="GET"
                          th:action="@{/client/info-riders}">
                        <input class="button" type="submit" th:value="#{rider.edit.button.return}"/>
                    </form>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="text-block">
                <div class="center" th:text="#{top_nav.contact_us}"/>
            </div>
        </div>

    </div>

</div>

</body>

</html>